description = "side bar menu"

[viewBag]
==
<div class="app-sidebar sidebar-shadow">
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <div>
                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="app-header__mobile-menu">
        <div>
            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="app-header__menu">
        <span>
            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                <span class="btn-icon-wrapper">
                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                </span>
            </button>
        </span>
    </div>    
    <div class="scrollbar-sidebar">
        <div class="app-sidebar__inner">
            <ul class="vertical-nav-menu">
                <li class="app-sidebar__heading">Menu</li>
                <li class="mm-active">
                    <a href="#">
                        <i class="metismenu-icon pe-7s-rocket"></i>
                    Órdenes
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="{{'cart'|page}}">
                                <i class="metismenu-icon">
                                </i>Nueva Orden
                            </a>
                        </li>
                        <li>
                            <a href="{{'orders'|page}}">
                                <i class="metismenu-icon">
                                </i>Lista de órdenes
                            </a>
                        </li>
                    
                        <!--
                        <li>
                            <a href="sales.html">
                                <i class="metismenu-icon">
                                </i>Sales
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="metismenu-icon"></i>
                                Minimal
                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="minimal-1.html">
                                        <i class="metismenu-icon">
                                        </i>Variation 1
                                    </a>
                                </li>
                                <li>
                                    <a href="minimal-2.html">
                                        <i class="metismenu-icon">
                                        </i>Variation 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="crm.html">
                                <i class="metismenu-icon"></i>
                                CRM
                            </a>
                        </li>
                        -->
                    </ul>
                </li>
                {#
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-browser"></i>
                        Usuarios
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="{{'dashboard'|page}}">
                                <i class="metismenu-icon">
                                </i>Lista de Usuarios
                            </a>
                        </li>
                        <li>
                            
                            <a href="{{'dashboard'|page}}">
                                <i class="metismenu-icon">
                                </i>Desempeño
                            </a>
                        </li>
                    
                    </ul>
                </li>
                #}
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-plugin"></i>
                        Reembolsos
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="{{'payments'|page}}">
                                <i class="metismenu-icon">
                                </i>Historial
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-browser"></i>
                        Manuales
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="{{'tutorials/manual-dictya.pfg'|media}}" target="_blank">
                                <i class="metismenu-icon">
                                </i>Manual básico Dictya
                            </a>
                        </li>
                    </ul>
                    
                </li>
                <!--
                <li class="app-sidebar__heading">UI Components</li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-diamond"></i>
                        Elements
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="metismenu-icon"></i>
                                Buttons
                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                            </a>
                            <ul>
                                <li>
                                    <a href="buttons-standard.html">
                                        <i class="metismenu-icon">
                                        </i>Standard
                                    </a>
                                </li>
                                <li>
                                    <a href="buttons-pills.html">
                                        <i class="metismenu-icon">
                                        </i>Pills
                                    </a>
                                </li>
                                <li>
                                    <a href="buttons-square.html">
                                        <i class="metismenu-icon">
                                        </i>Square
                                    </a>
                                </li>
                                <li>
                                    <a href="buttons-shadow.html">
                                        <i class="metismenu-icon">
                                        </i>Shadow
                                    </a>
                                </li>
                                <li>
                                    <a href="buttons-icons.html">
                                        <i class="metismenu-icon">
                                        </i>With Icons
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="dropdowns.html">
                                <i class="metismenu-icon">
                                </i>Dropdowns
                            </a>
                        </li>
                        <li>
                            <a href="icons.html">
                                <i class="metismenu-icon">
                                </i>Icons
                            </a>
                        </li>
                        <li>
                            <a href="badges-labels.html">
                                <i class="metismenu-icon">
                                </i>Badges
                            </a>
                        </li>
                        <li>
                            <a href="cards.html">
                                <i class="metismenu-icon">
                                </i>Cards
                            </a>
                        </li>
                        <li>
                            <a href="loaders.html">
                                <i class="metismenu-icon">
                                </i>Loading Indicators
                            </a>
                        </li>
                        <li>
                            <a href="list-group.html">
                                <i class="metismenu-icon">
                                </i>List Groups
                            </a>
                        </li>
                        <li>
                            <a href="navigation.html">
                                <i class="metismenu-icon">
                                </i>Navigation Menus
                            </a>
                        </li>
                        <li>
                            <a href="timelines.html">
                                <i class="metismenu-icon">
                                </i>Timeline
                            </a>
                        </li>
                        <li>
                            <a href="utilities.html">
                                <i class="metismenu-icon">
                                </i>Utilities
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-car"></i>
                        Components
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="tabs.html">
                                <i class="metismenu-icon">
                                </i>Tabs
                            </a>
                        </li>
                        <li>
                            <a href="accordions.html">
                                <i class="metismenu-icon">
                                </i>Accordions
                            </a>
                        </li>
                        <li>
                            <a href="notifications.html">
                                <i class="metismenu-icon">
                                </i>Notifications
                            </a>
                        </li>
                        <li>
                            <a href="modals.html">
                                <i class="metismenu-icon">
                                </i>Modals
                            </a>
                        </li>
                        <li>
                            <a href="loading-blocks.html">
                                <i class="metismenu-icon">
                                </i>Loading Blockers
                            </a>
                        </li>
                        <li>
                            <a href="progress-bar.html">
                                <i class="metismenu-icon">
                                </i>Progress Bar
                            </a>
                        </li>
                        <li>
                            <a href="tooltips-popovers.html">
                                <i class="metismenu-icon">
                                </i>Tooltips &amp; Popovers
                            </a>
                        </li>
                        <li>
                            <a href="carousel.html">
                                <i class="metismenu-icon">
                                </i>Carousel
                            </a>
                        </li>
                        <li>
                            <a href="calendar.html">
                                <i class="metismenu-icon">
                                </i>Calendar
                            </a>
                        </li>
                        <li>
                            <a href="pagination.html">
                                <i class="metismenu-icon">
                                </i>Pagination
                            </a>
                        </li>
                        <li>
                            <a href="count-up.html">
                                <i class="metismenu-icon">
                                </i>Count Up
                            </a>
                        </li>
                        <li>
                            <a href="scrollable-elements.html">
                                <i class="metismenu-icon">
                                </i>Scrollable
                            </a>
                        </li>
                        <li>
                            <a href="tree-view.html">
                                <i class="metismenu-icon">
                                </i>Tree View
                            </a>
                        </li>
                        <li>
                            <a href="maps.html">
                                <i class="metismenu-icon">
                                </i>Maps
                            </a>
                        </li>
                        <li>
                            <a href="ratings.html">
                                <i class="metismenu-icon">
                                </i>Ratings
                            </a>
                        </li>
                        <li>
                            <a href="image-crop.html">
                                <i class="metismenu-icon">
                                </i>Image Crop
                            </a>
                        </li>
                        <li>
                            <a href="guided-tours.html">
                                <i class="metismenu-icon">
                                </i>Guided Tours
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-display2"></i>
                        Tables
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="data-tables.html">
                                <i class="metismenu-icon">
                                </i>Data Tables
                            </a>
                        </li>
                        <li>
                            <a href="regular.html">
                                <i class="metismenu-icon">
                                </i>Regular Tables
                            </a>
                        </li>
                        <li>
                            <a href="grid.html">
                                <i class="metismenu-icon">
                                </i>Grid Tables
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="app-sidebar__heading">Dashboard Widgets</li>
                <li>
                    <a href="chart-boxes.html">
                        <i class="metismenu-icon pe-7s-graph">
                        </i>Chart Boxes 1
                    </a>
                </li>
                <li>
                    <a href="chart-boxes-2.html">
                        <i class="metismenu-icon pe-7s-way">
                        </i>Chart Boxes 2
                    </a>
                </li>
                <li>
                    <a href="chart-boxes-3.html">
                        <i class="metismenu-icon pe-7s-ball">
                        </i>Chart Boxes 3
                    </a>
                </li>
                <li>
                    <a href="profile-boxes.html">
                        <i class="metismenu-icon pe-7s-id">
                        </i>Profile Boxes
                    </a>
                </li>
                <li class="app-sidebar__heading">Forms</li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-light"></i>
                        Elements
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="controls.html">
                                <i class="metismenu-icon">
                                </i>Controls
                            </a>
                        </li>
                        <li>
                            <a href="layouts.html">
                                <i class="metismenu-icon">
                                </i>Layouts
                            </a>
                        </li>
                        <li>
                            <a href="validation.html">
                                <i class="metismenu-icon">
                                </i>Validation
                            </a>
                        </li>
                        <li>
                            <a href="wizard.html">
                                <i class="metismenu-icon">
                                </i>Wizard
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="metismenu-icon pe-7s-joy"></i>
                        Widgets
                        <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="datepicker.html">
                                <i class="metismenu-icon">
                                </i>Datepicker
                            </a>
                        </li>
                        <li>
                            <a href="range-slider.html">
                                <i class="metismenu-icon">
                                </i>Range Slider
                            </a>
                        </li>
                        <li>
                            <a href="input-selects.html">
                                <i class="metismenu-icon">
                                </i>Input Selects
                            </a>
                        </li>
                        <li>
                            <a href="toggle-switch.html">
                                <i class="metismenu-icon">
                                </i>Toggle Switch
                            </a>
                        </li>
                        <li>
                            <a href="wysiwyg-editor.html">
                                <i class="metismenu-icon">
                                </i>WYSIWYG Editor
                            </a>
                        </li>
                        <li>
                            <a href="input-mask.html">
                                <i class="metismenu-icon">
                                </i>Input Mask
                            </a>
                        </li>
                        <li>
                            <a href="clipboard.html">
                                <i class="metismenu-icon">
                                </i>Clipboard
                            </a>
                        </li>
                        <li>
                            <a href="textarea-autosize.html">
                                <i class="metismenu-icon">
                                </i>Textarea Autosize
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="app-sidebar__heading">Charts</li>
                <li>
                    <a href="chartjs.html">
                        <i class="metismenu-icon pe-7s-graph2">
                        </i>ChartJS
                    </a>
                </li>
                <li>
                    <a href="apexcharts.html">
                        <i class="metismenu-icon pe-7s-graph">
                        </i>Apex Charts
                    </a>
                </li>
                <li>
                    <a href="sparklines.html">
                        <i class="metismenu-icon pe-7s-graph1">
                        </i>Chart Sparklines
                    </a>
                </li>
                -->
            </ul>
        </div>
    </div>
</div>