[viewBag]

[Cart]
[CartSessionList]
==

{#
{% set obCartPositionList = Cart.get() %}

{% if obCartPositionList.isNotEmpty() %}

    {% for obCartPosition in obCartPositionList %}
    
    {% set obOffer = obCartPosition.offer %}

    <li class="pt-2 pb-2 pr-2 list-group-item">
        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <!--<div class="widget-content-left opacity-6 fsize-2 mr-3 text-warning center-elem">
                    <i class="fa fa-file-archive"></i>
                </div>-->
                <div class="widget-content-left">
                    <div class="widget-heading font-weight-normal">
                        <h5>{{obOffer.name}}</h5>
                        <strong>precio:</strong> {{ obOffer.currency }}{{ obOffer.price }}<br>
                        <strong>cantidad:</strong> {{obCartPosition.quantity}} 
                        </small>
                    </div>
                </div>
                <div class="widget-content-right widget-content-actions">
                    <button class="btn-icon btn-icon-only btn btn-link btn-sm 
                    remove-from-cart" data-offer-id="{{obOffer.id}}">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}

{% else %}
<li class="pt-2 pb-2 pr-2 list-group-item">
        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <!--<div class="widget-content-left opacity-6 fsize-2 mr-3 text-warning center-elem">
                    <i class="fa fa-file-archive"></i>
                </div>-->
                <div class="widget-content-left">
                    <div class="widget-heading font-weight-normal">
                        <h5>Carrito vacío</h5>
                       
                    </div>
                </div>
            </div>
        </div>
    </li>

{% endif %}

#}

{% set arChargelist = CartSessionList.getSessionCartList() %}

{% if arChargelist != null %}
    {% for charge in arChargelist %}
    <li class="pt-2 pb-2 pr-2 list-group-item">
        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <!--<div class="widget-content-left opacity-6 fsize-2 mr-3 text-warning center-elem">
                    <i class="fa fa-file-archive"></i>
                </div>-->
                <div class="widget-content-left">
                    <div class="widget-heading font-weight-normal">
                        <h5>{{charge.title}}</h5>
                        <h6>{{charge.description}} </h6>
                        <strong>precio:</strong> {{ charge.price }}<br>
                    
                        </small>
                    </div>
                </div>
                <div class="widget-content-right widget-content-actions">
                    <button class="btn-icon btn-icon-only btn btn-link btn-sm 
                    remove-from-cart" data-offer-id="{{loop.index}}">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </li>
    {% endfor %}

{% else %}
    <li class="pt-2 pb-2 pr-2 list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <!--<div class="widget-content-left opacity-6 fsize-2 mr-3 text-warning center-elem">
                        <i class="fa fa-file-archive"></i>
                    </div>-->
                    <div class="widget-content-left">
                        <div class="widget-heading font-weight-normal">
                            <h5>Carrito vacío</h5>
                           
                        </div>
                    </div>
                </div>
            </div>
        </li>
{% endif %}
