[Cart]

[viewBag]
==
<ul class="todo-list-wrapper list-group list-group-flush">

{% set obCartPositionList = Cart.get() %}

{% if obCartPositionList.isNotEmpty() %}

    {% for obCartPosition in obCartPositionList %}
    
    {% set obOffer = obCartPosition.offer %}
                            
    <li class="list-group-item">
        <div class="todo-indicator bg-success"></div>
        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
               
                <div class="widget-content-left flex2">
                    <div class="widget-heading mr-2">{{obOffer.name}}</div>
                    <div class="widget-subheading mr-2">
                        <strong>precio:</strong> {{ obOffer.currency }}{{ obOffer.price }}<br>
                    </div>
                </div>
                <div class="widget-content-right">
                    <div class="badge badge-warning mr-2">{{obCartPosition.quantity}} </div>
                </div>
                <div class="widget-content-right">
                    {#<button class="border-0 btn-transition btn btn-outline-success">
                        <i class="fa fa-check">
                        </i>
                    </button>
                    <button class="border-0 btn-transition btn btn-outline-danger">
                        <i class="fa fa-trash-alt">
                        </i>
                    </button>#}
                </div>
            </div>
        </div>
    </li>
    {% endfor %}
    {% else %}
    <li class="list-group-item">
        Carrito vacío
    </li>
    {% endif %}
</ul>