<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>
           


        </h2>

        <div class="col-md-11 mx-auto">
            <h2 class="section-heading" style="font-size: 2.5rem; font-weight: 800;">
                ¿Quiénes somos?
            </h2>
             
            <h4>Dictya es una empresa especializada en desarrollo y venta de 
                código fuente,<span > apis y plugins basados en tecnologías de última generación que permiten construir nuevas tiendas on-line o modernizar existentes. Creamos, innovamos y distribuimos software de E-Commerce.  Somos un equipo de expertos en negocios de distintos sectores en colaboración con otros
                    desarrolladores freelance de todo el mundo. ¡Cualquier idea es una realidad en Dictya!</span></h4>
         <br>
         <h2>We
            <i class="fas fa-heart"></i>
            chats!</h2>
        </div>

        <p>
            {{ this.theme.contact_content | raw }}
        </p>
        
    </div>
</section>


<section class="features" id="products">

    <div class="col-lg-12 my-auto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="feature-item">
                        <i class="icon-basket text-primary"></i>
                        <h3>DictyaShop</h3>
                        <p class="text-muted">Tienda online modular, un universo de aplicaciones en tu tienda online  </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature-item">
                        <i class="icon-cloud-upload text-primary"></i>
                        <h3>DictyaCloud</h3>
                        <p class="text-muted">Solución 360º E-Commerce y ERP. Conecta tu tienda física con tu tienda online</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="feature-item">
                        <i class="icon-people text-primary"></i>
                        <h3>DictyaB2B</h3>
                        <p class="text-muted">Conecta tu tienda online con tu red de proveedores</p>
                    </div>
                    </div>

            </div>
        </div>
    </div>
</section>
