[viewBag]

[form]
==
<section class="cta">
    <div class="cta-content">
        <div class="container">
            <div class="col-md-6 offset-md-3">
                <h2>PAGA TUS ORDENES</h2>
                <h4 style="color:white">Usa tu número de orden para realizar el pago con tarjeta de débito/crédito</h4>
            </div>
            <div class="col-md-6 offset-md-3">
            
    
<form id="payment-form" data-request-validate data-request-flash>
  <div class="form-row">
    <div class="form-group col-md-12 col-lg-6">
      <input type="text" name="tarjetahabiente" id="tarjetahabiente" class="form-control" placeholder="Número de orden"> 
    </div>
    
    <div class="form-group col-md-12 col-lg-6">
        <div id="card-element" style="border: 1px solid #ccc;
        border-radius: 4px; padding:4px 4px;"> 
         <!-- a Stripe Element will be inserted here. -->
        </div>
    </div>
    <!-- Used to display form errors -->
    <div id="card-errors" role="alert"></div>
  </div>
  <input type="hidden" name="mt" id="mt" value="1000">
  <input type="hidden" name="dsc" id="dsc" value="Pago web de dictya">
  <input type="hidden" name="ref" id="ref" value="Dictya">
      
  <br>
  <p class="text-center">
    
    <button class="btn btn-primary" id="pay-btn">¡Pagar!</button>
  </p>
  
  <!--<p class="text-center">
      <a href="https://stripe.com/" target="_blank"><img class="image-responsive" src="{{ 'powered_by_stripe.png'|media }}"></a>
  </p>-->

</form>
<script src='https://js.stripe.com/v3/'></script>

<script>
  $(document).ready(function(){
    // Create a Stripe client
    stripe = Stripe('pk_live_QsKETV5NGnFZAh5sfMpBEakF00RxTOyHp7');
  
    //key anterior pk_test_zf57RZ3Om1f1jFNtrOyN2Ixb
    // key de aquoss pk_test_xQf9GTa0xwBJSsqU4QC2Zb7d00LFCdOpHP
    // Create an instance of Elements
    var elements = stripe.elements({"locale": "es"});
  
    // Custom styling can be passed to options when creating an Element.
    // (Note that this demo uses a wider set of styles than the guide below.)
    var style = {
      base: {
        color: '#999',
        lineHeight: '24px',
        fontFamily: '"Poppins", sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '14px',
        '::placeholder': {
          color: '#999'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };
  
    // Create an instance of the card Element
  
  
    card = elements.create('card', {style: style});
    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');
    var mensaje = "";
    var displayError = document.getElementById('card-errors');
    //var errorElement = document.getElementById('card-errors');
    // Handle real-time validation errors from the card Element.
    card.addEventListener('change', function(event) {
      
      if (event.error) {
        displayError.textContent = event.error.message;
      }else if(mensaje !==""){
        displayError.textContent = mensaje;
      } else {
        displayError.textContent = '';
        
      }
    });
  
    $("#owner").on("focusout", function (e){
      var displayError = document.getElementById('card-errors');
       mensaje = validarTarjetaHabiente();
      //if(mensaje !== ""){
      //  alert("di error");
      displayError.textContent = mensaje;
      
      //$("input[name=cardnumber]").trigger("change");
      //}
      //alert("salí");
    });
  });
  
  function validarTarjetaHabiente(){
    var value = $("#owner").val();
    var mensaje = "";
    var regex = new RegExp("^([^0-9]*)$");
    if(value === ""){
      mensaje = '\nNombre y Apellido son requeridos';
    }else if(value.length < 4 && value.length > 15){
      mensaje = '\nNombre y Apellido deben tener entre 5 y 15 caracteres en total';
    }else if(!regex.test(value)){
      mensaje = '\nCaracteres numéricos no son permitidos';
    }
  
    return mensaje;
  }
  
  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('payment-form');
    var hiddenInput = document.createElement('input');
    hiddenInput.setAttribute('type', 'hidden');
    hiddenInput.setAttribute('name', 'stripeToken');
    hiddenInput.setAttribute('value', token.id);
    form.appendChild(hiddenInput);
  }
  
  $.fn.payStripe = function() {
    var dataN = 'error';
   
    var displayError = document.getElementById('card-errors');
  
    var dfd = jQuery.Deferred();
    stripe.createToken(card).then((result) => {
    var mensaje = validarTarjetaHabiente();
        if (result.error) {
            
          displayError.textContent = result.error.message;
            
            dfd.reject( error );
        }else if(mensaje !== ""){
          displayError.textContent = mensaje;
        }else{
          $("#payment-form, #payment-form-test").find("input[type='submit']").attr("disabled","disabled").text("Espere..").append("<i class='fa fa-spinner fa-spin fa-fw'></i>");
          $(this).request('onPayStripe', {
            data:{
              token: result.token.id,
            },
            success: function(data) {
                //alert('success'+data+"esto");
                //this.dataN = data;
                //console.log(data);
                dataN = data;
                dfd.resolve( data );
            },
            error: function(error){
              console.log(error);
                //dataN = data;
                dfd.reject( error );
            },
            complete: function(){
              //console.log(data);
              //alert('completado');
            }
          });
        }
      });
    return dfd.promise();
  };
  
  
  </script>
  

            </div>
        </div>
        
    </div>
    <div class="overlay">

        
    </div>
</section>