<section class="download bg-primary text-center" id="download">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2 class="section-heading">
                    {#
                    
                    {{ this.theme.download_headline | raw }}
                    #}
                    No estás solo
                </h2>
                <h4 style="font-size: 2.0rem; font-weight: 800;">cuéntanos tu proyecto E-Commerce<small> <br> y te acompañaremos hacia el éxito con nuestras soluciones tecnológicas on-demand o mediante una alianza estratégica</small></h4>
                {# {{ this.theme.download_content | raw }} #}
            
            </div>
        </div>
    </div>
</section>
