[viewBag]
==
<section id="features" class="features">
    <div class="container">
       
        <div class="row">
            {#<div class="col-lg-4 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                {% if this.theme.features_img %}
                                <img src="{{ this.theme.features_img.getThumb(621, 1104, 'crop') }}" class="img-fluid" alt="{{ this.theme.site_title }} features" />
                                {% else %}
                                
                                {% endif %}
                            </div>
                            <!-- // You can hook the "home button" to some JavaScript events or just remove it
                            <div class="button"></div>
                            -->
                        </div>
                    </div>
                </div>
            </div>#}
            <div class="col-lg-12 my-auto">
                <div class="container-fluid">
                    {% if this.theme.features_list %}
                        {% partial 'home-temporary/features/items' %}
                    {% else %}
                        {% partial 'home-temporary/features/dummy' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>