<footer>
    <div class="container">
       
            <p>
                <strong>Dictya LLC, 				
                    7567 SYCAMORE GROVE CT INDIANAPOLIS, IN 46260</strong> <br>		
                        
                					
                Contacto: soporte@dictya.com
            </p>
       
        <p>
        Todos los derechos reservados
        </p>
        
        <p class="mt-2"><a href="#" data-toggle="modal" data-target="#exampleModalLong">Políticas de Privacidad</a></p>
        
        {% if this.theme.footer_menu %}
        
        {#<ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">Privacy</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Terms</a>
            </li>
            <li class="list-inline-item">
                <a href="#">FAQ</a>
            </li>
        </ul>#}
        {% endif %}
    </div>
</footer>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Políticas de Privacidad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>
                Estos términos y condiciones de privacidad de datos, uso de cookies y spam establecen los lineamientos y prácticas de protección de datos personales, uso de cookies y spam del sitio web de Dictya.com mediante la URL https://dictya.com Estos términos y condiciones de privacidad de datos, uso de cookies y spam establecen los lineamientos y prácticas de protección de datos personales, uso de cookies y spam del sitio web.
            Dictya es una empresa de desarrollo tecnológico especialmente centrada en soluciones de marketing digital y E-commerce. Para obtener más información sobre Dictya, el sitio web y sus operaciones puede referirse a los apartados de “Quiénes somos”, “Qué hacemos” o “Soporte” para apoyo a sus consultas.
            Lea atentamente estos términos y condiciones, ya que le ayudarán a tomar decisiones informadas sobre cómo compartir su información personal con nosotros. Aunque estos términos y condiciones se aplican solo a la información recopilada a través del sitio web, son coherentes con nuestras políticas y prácticas con respecto a la información personal que recibimos.
            1. ¿Cuál es la información que recopilamos?

            Información de Identificación Personal (¨IIP¨) que recibamos, entre otros, mediante los formularios de contacto, suscripción, registro u otros que estén en la página web. 
            
            
            La IIP incluye información de identificación, información de contacto e información técnico, entre otros datos:
            Nombres y apellidos 
            Correo electrónico 
            Cuenta de redes sociales 
            Números de teléfono 
            Documento de identidad
            Ciudad y país de residencia
            Organización a la que pertenece
            Cargo en la organización
            Sector al que pertenece (público, privado o civil)
            Datos anónimos relacionados con el comportamiento del usuario durante la visita a la página web, sea a través de cookies, píxeles o tecnologías similares. Entre otros, podríamos recompilar el tiempo de la visita y los contenidos visitados.
            Datos anónimos relacionados con las herramientas de acceso y su interacción con la página web, tales como dirección IP, características del navegador y dispositivo, preferencias de idioma o URL de referencia y otra información técnica.
             
            
            2. ¿Cómo usamos esta información?
            
            Los datos descritos en el punto anterior se utilizan con objetivos de difusión de nuestras actividades, proyectos y convocatorias, así como para mantener y cumplir las obligaciones contractuales, legales y de transparencia que exijan algún tipo de comunicación. Parte de los datos se utilizan como referencia para optimizar la pertinencia de los contenidos y para garantizar la integridad, confidencialidad y disponibilidad de la información.
            
            La IIP se emplea para contactar a los usuarios en respuesta a las solicitudes que hayan hecho a DICTYA.
            La IIP sirve para mantener la relación con las partes interesadas de DICTYA (por ejemplo, proveedores, clientes o aliados) con el fin de dar curso a las actividades y obligaciones que se lleven en conjunto.
            La IIP y los datos anónimos se emplean para identificar si los contenidos son pertinentes y relevantes de acuerdo con sus intereses, así como para identificar mejoras en nuestros canales de comunicación en términos de experiencia del usuario y diseño.
            Los datos relacionados con las herramientas de acceso se emplean tanto para identificar mejoras en el desempeño de nuestra web, como para garantizar el funcionamiento de nuestro sitio, su seguridad y la de su información. 
            Las comunicaciones que empleamos con estos datos son principalmente mediante, pero no limitado a, correos electrónicos, mensajes de correo postal, llamadas telefónicas y difusión de anuncios en plataformas digitales.
             
            
            3. ¿Su información será compartida con alguien?
            
             DICTYA no venderá, distribuirá ni arrendará esta información a terceros, excepto de acuerdo con estos términos y condiciones. Para la gestión de la información recopilada, DICTYA cuenta con servicios y proveedores cuyas políticas de privacidad incluyen cláusulas que no permiten compartir los datos de DICTYA con terceros a menos que DICTYA lo solicite o lo indique una norma aplicable.
            
            Se podrán generar y compartir reportes o resúmenes a partir de los datos recopilados, entre otros, las páginas más visitadas o el número de registrados a un evento. Al ser resúmenes, estos reportes no pueden utilizarse para rastrear a una persona en particular.
            
            Podemos divulgar información de identificación personal u otra información recopilada a través del sitio web en respuesta a un proceso legal o cuando creamos que una norma aplicable lo exige, por ejemplo, en respuesta a una orden judicial, citación o solicitud de una agencia de aplicación de una norma aplicable.
            
            También podemos divulgar la información para proteger la seguridad y el funcionamiento del sitio web o los derechos de otros usuarios del sitio web, y para protegernos y proteger a nuestros miembros, afiliados, consultores, y proveedores, si tenemos motivos para creer que alguien está causando o amenazando causar daño o interferencia con los derechos o la propiedad de DICTYA, así como también para proteger contra el fraude.
            
            DICTYA podrá compartir la IIP de un usuario con un tercero, si ese usuario lo solicita expresamente. En caso de que DICTYA no tenga los medios para compartir esa información a un tercero, el usuario podrá solicitar sus datos y DICTYA se la entregará en un formato estándar que permita su uso y consulta.
            
             
            
            El intercambio de información descrito anteriormente puede implicar la transferencia de su información desde un lugar dentro del Espacio Económico Europeo (el "EEE") hacia fuera del EEE, o desde fuera del EEE a un lugar dentro del EEE. El nivel de protección de la información en países fuera del EEE puede ser menor que el ofrecido dentro del EEE. Implementaremos las medidas adecuadas para garantizar que su información personal permanezca protegida y segura de acuerdo con las leyes aplicables de protección de datos.
            
            
            4. ¿utilizamos cookies y otras tecnologías de seguimiento?
            
            Las cookies son pequeños archivos de datos que se envían a su navegador o software relacionado desde un servidor web y se almacenan en su computadora o dispositivo. Las cookies a menudo incluyen un identificador único anónimo y rastrean y almacenan sus preferencias de usuarios mientras usan el sitio web, así como información técnica sobre su uso del sitio web.
            
            Como se mencionó en el apartado 1 arriba, el sitio web y sus sub sitios recopilan registros anónimos durante las visitas de los usuarios. Esto se puede hacer a través de cookies o tecnologías similares para retener información sobre usted y su uso del sitio web.
            
            Otra tecnología que utilizamos son los pixeles, que son fragmentos de código en nuestros canales y nos permiten recopilar información anónima sobre el desempeño de anuncios en línea y del correo masivo, así como para encauzar mensajes de difusión en otras plataformas como las redes sociales o los buscadores.
            
            
            5. ¿cuándo conservamos su información?
            
            Retenemos IIP e información anónima recopilada a través del sitio web para fines operativos, de registro y legales. Retendremos IIP sobre usted durante el período necesario para cumplir con los fines descritos en estos términos y condiciones o nuestras políticas de retención de datos, a menos que una norma aplicable exija un período de retención más largo.
            
             
            
            6. ¿cómo mantenemos su información segura?
            
            Protegemos la seguridad y la integridad de la IIP que recopilamos mediante la implementación de procedimientos físicos, electrónicos y administrativos para salvaguardar y proteger la información contra pérdida, uso indebido, acceso no autorizado o divulgación, alteración o destrucción. Sin embargo, debido a la naturaleza inherente del internet como un vehículo de comunicación global abierto, no podemos garantizar que cualquier información, ya sea durante la transmisión a través de Internet, mientras esté almacenada en nuestros sistemas de datos o mantenida por nosotros, esté absolutamente a salvo de la intrusión otros, incluyendo de los piratas informáticos.
            
            Esto incluye la información que se nos proporciona por correo electrónico, a través de publicaciones directas en el sitio web o a través de la función "Contacto" del sitio web. Al proporcionar información a través de estos canales, debe tener en cuenta que su transmisión puede no ser segura mientras está en tránsito y que un tercero posiblemente podría ver la información en tránsito.
            
             
            
            7. ¿qué pasa si no quiero compartir mi información?
            
            El llenado de registros y formularios en nuestra página es voluntario, y sin hacerlo, los usuarios pueden navegar en www.Dictya.com. Llenar los formularios es necesario para recibir boletines electrónicos, y ciertas comunicaciones de DICTYA relacionadas con eventos, convocatorias y otras actividades. 
            
            Al navegar en la página de DICTYA, se recopilará la información anónima descrita en el punto 1, arriba, que, al ser anónima, no permite identificar usuarios específicos.
            
            Si el usuario está registrado para una actividad o suscrito a un boletín, podremos enviarle correos electrónicos en relación con sus preferencias de registro o suscripción. En cualquiera de esos mensajes, el usuario podrá optar por retirarse de la lista y con ello se cancela su suscripción y la recopilación de datos derivada de ella. También puede enviarnos una solicitud de "exclusión voluntaria" al correo privacidad@Dictya.com.
            
             
            
            8. ¿recolectamos información de menores de edad?
            
            El sitio web no está dirigido a menores de edad y no recopilamos ni conservamos a sabiendas ninguna información personal sobre personas menores de 13 años.
            
             
            
            9. GDPR
            
            El Reglamento general de protección de datos de la Unión Europea ("GDPR") y otras leyes de protección de datos aplicables otorgan ciertos derechos a los interesados. En términos generales, usted tiene, o puede tener, el derecho (como se establece con más detalle en las leyes de protección de datos aplicables) a:
            
            solicitar detalles de la información que tenemos sobre usted y cómo la procesamos
            eliminar su información personal o rectificarla, si es inexacta o si ha sido eliminado
            restringir nuestro procesamiento de su información personal 
            retirar un consentimiento proporcionado previamente para el procesamiento de su información personal
            detener las transferencias no autorizadas de su información personal a un tercero
            que su información personal sea transferida a un tercero
            quejarse de nuestro procesamiento de su información personal a una autoridad de supervisión local
            
            Es importante tener en cuenta que estos derechos pueden no ser absolutos. Por ejemplo, si retira su consentimiento para procesar su información personal, podremos continuar procesando su información personal en la medida requerida o permitida por la ley, en particular en relación con el ejercicio y la defensa de nuestros derechos legales o nuestras obligaciones legales y/ o regulatorias.
            
             
            
            10. ¿hacemos actualizaciones de estos términos y condiciones?
            Como el sitio web se actualiza periódicamente, nuestros términos y condiciones pueden cambiar en cualquier momento. Por lo tanto, revise los términos y condiciones de privacidad publicados de tiempo en tiempo. En los casos que amerite, le notificaremos acerca de cambios sustanciales en la forma en que tratamos la información personal mediante la publicación de un aviso en el sitio web o enviándole un correo electrónico (si nos ha proporcionado su dirección de correo electrónico y el permiso para utilizarlo).
            
             
            
            11. ¿cumple Dictya con la ley CAN-SPAM?
            
            La ley CAN-SPAM cubre todos los mensajes comerciales, que definidos como “cualquier mensaje de correo electrónico cuyo propósito principal es el anuncio comercial o promoción de un producto o servicio”.
            
            Para el envío de correos electrónicos DICTYA no utiliza información de encabezado o asuntos falsos o engañosos. La información enviada corresponde a las labores de negocio estrictamente y no ofrece promociones de productos o servicios o anuncios comerciales.
            
             
            
            12. ¿cómo puede comunicarse con nosotros sobre estos términos y condiciones?
            
            Si tiene preguntas o comentarios sobre estos términos y condiciones, puede contactarnos a privacidad@Dictya.com, que estaremos felices de responderle.
            
             Tps://dictya.com" y sus dominios de nivel inferior (el "sitio web" o la ¨página web”).
            DICTYA es un banco de desarrollo establecido por sus países miembros de conformidad con su Convenio Constitutivo. Para obtener más información sobre DICTYA, el sitio web y sus operaciones puede referirse a los apartados de “Quiénes somos”, “Qué hacemos” o “Contacto” para apoyo a sus consultas.
            Lea atentamente estos términos y condiciones, ya que le ayudarán a tomar decisiones informadas sobre cómo compartir su información personal con nosotros. Aunque estos términos y condiciones se aplican solo a la información recopilada a través del sitio web, son coherentes con nuestras políticas y prácticas con respecto a la información personal que recibimos.
            
            1. ¿Cuál es la información que recopilamos?
            •	Información de Identificación Personal (¨IIP¨) que recibamos, entre otros, mediante los formularios de contacto, suscripción, registro u otros que estén en la página web. 
            
            La IIP incluye información de identificación, información de contacto e información técnico, entre otros datos:
            •	Nombres y apellidos
            •	Correo electrónico 
            •	Cuenta de redes sociales 
            •	Números de teléfono 
            •	Documento de identidad
            •	Ciudad y país de residencia
            •	Organización a la que pertenece
            •	Cargo en la organización
            •	Sector al que pertenece (público, privado o civil)
            •	Datos anónimos relacionados con el comportamiento del usuario durante la visita a la página web, sea a través de cookies, píxeles o tecnologías similares. Entre otros, podríamos recompilar el tiempo de la visita y los contenidos visitados.
            •	Datos anónimos relacionados con las herramientas de acceso y su interacción con la página web, tales como dirección IP, características del navegador y dispositivo, preferencias de idioma o URL de referencia y otra información técnica.
            
            2. ¿Cómo usamos esta información?
            Los datos descritos en el punto anterior se utilizan con objetivos de difusión de nuestras actividades y proyectos, así como para mantener y cumplir las obligaciones contractuales, legales y de transparencia que exijan algún tipo de comunicación. Parte de los datos se utilizan como referencia para optimizar la pertinencia de los contenidos y para garantizar la integridad, confidencialidad y disponibilidad de la información.
            •	La IIP se emplea para contactar a los usuarios en respuesta a las solicitudes que hayan hecho a Dictya.
            •	La IIP sirve para mantener la relación con las partes interesadas de DICTYA (por ejemplo, proveedores, clientes o aliados) con el fin de dar curso a las actividades y obligaciones que se lleven en conjunto.
            •	La IIP y los datos anónimos se emplean para identificar si los contenidos son pertinentes y relevantes de acuerdo con sus intereses, así como para identificar mejoras en nuestros canales de comunicación en términos de experiencia del usuario y diseño.
            •	Los datos relacionados con las herramientas de acceso se emplean tanto para identificar mejoras en el desempeño de nuestra web, como para garantizar el funcionamiento de nuestro sitio, su seguridad y la de su información. 
            •	Las comunicaciones que empleamos con estos datos son principalmente mediante, pero no limitado a, correos electrónicos, mensajes de sms, llamadas telefónicas y difusión de anuncios en plataformas digitales.
             
            3. ¿Su información será compartida con alguien?
            DICTYA no venderá, distribuirá ni arrendará esta información a terceros, excepto de acuerdo con estos términos y condiciones. Para la gestión de la información recopilada, DICTYA cuenta con servicios y proveedores cuyas políticas de privacidad incluyen cláusulas que no permiten compartir los datos de DICTYA con terceros a menos que DICTYA lo solicite o lo indique una norma aplicable.
            Se podrán generar y compartir reportes o resúmenes a partir de los datos recopilados, entre otros, las páginas más visitadas o el número de registrados a un evento. Al ser resúmenes, estos reportes no pueden utilizarse para rastrear a una persona en particular.
            Podemos divulgar información de identificación personal u otra información recopilada a través del sitio web en respuesta a un proceso legal o cuando creamos que una norma aplicable lo exige, por ejemplo, en respuesta a una orden judicial, citación o solicitud de una agencia de aplicación de una norma aplicable.
            También podemos divulgar la información para proteger la seguridad y el funcionamiento del sitio web o los derechos de otros usuarios del sitio web, y para protegernos y proteger a nuestros miembros, afiliados, consultores, y proveedores, si tenemos motivos para creer que alguien está causando o amenazando causar daño o interferencia con los derechos o la propiedad de DICTYA, así como también para proteger contra el fraude.
            DICTYA podrá compartir la IIP de un usuario con un tercero, si ese usuario lo solicita expresamente. En caso de que DICTYA no tenga los medios para compartir esa información a un tercero, el usuario podrá solicitar sus datos y DICTYA se la entregará en un formato estándar que permita su uso y consulta.
            Implementaremos las medidas adecuadas para garantizar que su información personal permanezca protegida y segura de acuerdo con las leyes aplicables de protección de datos.
            
            4. ¿utilizamos cookies y otras tecnologías de seguimiento?
            Las cookies son pequeños archivos de datos que se envían a su navegador o software relacionado desde un servidor web y se almacenan en su computadora o dispositivo. Las cookies a menudo incluyen un identificador único anónimo y rastrean y almacenan sus preferencias de usuarios mientras usan el sitio web, así como información técnica sobre su uso del sitio web.
            Como se mencionó en el apartado 1 arriba, el sitio web y sus sub sitios recopilan registros anónimos durante las visitas de los usuarios. Esto se puede hacer a través de cookies o tecnologías similares para retener información sobre usted y su uso del sitio web.
            Otra tecnología que utilizamos son los pixeles, que son fragmentos de código en nuestros canales y nos permiten recopilar información anónima sobre el desempeño de anuncios en línea y del correo masivo, así como para encauzar mensajes de difusión en otras plataformas como las redes sociales o los buscadores.
            
            5. ¿cuándo conservamos su información?
            Retenemos IIP e información anónima recopilada a través del sitio web para fines operativos, de registro y legales. Retendremos IIP sobre usted durante el período necesario para cumplir con los fines descritos en estos términos y condiciones o nuestras políticas de retención de datos, a menos que una norma aplicable exija un período de retención más largo.
             
            6. ¿cómo mantenemos su información segura?
            Protegemos la seguridad y la integridad de la IIP que recopilamos mediante la implementación de procedimientos físicos, electrónicos y administrativos para salvaguardar y proteger la información contra pérdida, uso indebido, acceso no autorizado o divulgación, alteración o destrucción. Sin embargo, debido a la naturaleza inherente del internet como un vehículo de comunicación global abierto, no podemos garantizar que cualquier información, ya sea durante la transmisión a través de Internet, mientras esté almacenada en nuestros sistemas de datos o mantenida por nosotros, esté absolutamente a salvo de la intrusión otros, incluyendo de los piratas informáticos.
            Esto incluye la información que se nos proporciona por correo electrónico, a través de publicaciones directas en el sitio web o a través de la función "Contacto" del sitio web. Al proporcionar información a través de estos canales, debe tener en cuenta que su transmisión puede no ser segura mientras está en tránsito y que un tercero posiblemente podría ver la información en tránsito.
             
            7. ¿qué pasa si no quiero compartir mi información?
            El llenado de registros y formularios en nuestra página es voluntario, y sin hacerlo, los usuarios pueden navegar en www.Dictya.com. Llenar los formularios es necesario para recibir boletines electrónicos, y ciertas comunicaciones de DICTYA relacionadas con eventos, convocatorias y otras actividades. 
            Al navegar en la página de DICTYA, se recopilará la información anónima descrita en el punto 1, arriba, que, al ser anónima, no permite identificar usuarios específicos.
            Si el usuario está registrado para una actividad o suscrito a un boletín, podremos enviarle correos electrónicos en relación con sus preferencias de registro o suscripción. En cualquiera de esos mensajes, el usuario podrá optar por retirarse de la lista y con ello se cancela su suscripción y la recopilación de datos derivada de ella. También puede enviarnos una solicitud de "exclusión voluntaria" al correo privacidad@Dictya.com.
             
            8. ¿recolectamos información de menores de edad?
            El sitio web no está dirigido a menores de edad y no recopilamos ni conservamos a sabiendas ninguna información personal sobre personas menores de 13 años.
             
            9. Reglamento General de Protección de datos
            El Reglamento general de protección de datos y otras leyes de protección de datos aplicables otorgan ciertos derechos a los interesados. En términos generales, usted tiene, o puede tener, el derecho (como se establece con más detalle en las leyes de protección de datos aplicables) a:
            •	solicitar detalles de la información que tenemos sobre usted y cómo la procesamos
            •	eliminar su información personal o rectificarla, si es inexacta o si ha sido eliminado
            •	restringir nuestro procesamiento de su información personal 
            •	retirar un consentimiento proporcionado previamente para el procesamiento de su información personal
            •	detener las transferencias no autorizadas de su información personal a un tercero
            •	que su información personal sea transferida a un tercero
            •	quejarse de nuestro procesamiento de su información personal a una autoridad de supervisión local
            
            Es importante tener en cuenta que estos derechos pueden no ser absolutos. Por ejemplo, si retira su consentimiento para procesar su información personal, podremos continuar procesando su información personal en la medida requerida o permitida por la ley, en particular en relación con el ejercicio y la defensa de nuestros derechos legales o nuestras obligaciones legales y/ o regulatorias.
             
            10. ¿hacemos actualizaciones de estos términos y condiciones?
            Como el sitio web se actualiza periódicamente, nuestros términos y condiciones pueden cambiar en cualquier momento. Por lo tanto, revise los términos y condiciones de privacidad publicados de tiempo en tiempo. En los casos que amerite, le notificaremos acerca de cambios sustanciales en la forma en que tratamos la información personal mediante la publicación de un aviso en el sitio web o enviándole un correo electrónico (si nos ha proporcionado su dirección de correo electrónico y el permiso para utilizarlo).
             
            11. ¿cumple Dictya con la ley CAN-SPAM?
            La ley CAN-SPAM cubre todos los mensajes comerciales, que definidos como “cualquier mensaje de correo electrónico cuyo propósito principal es el anuncio comercial o promoción de un producto o servicio”.
            Para el envío de correos electrónicos DICTYA no utiliza información de encabezado o asuntos falsos o engañosos. La información enviada corresponde a las labores de negocio estrictamente y no ofrece promociones de productos o servicios o anuncios comerciales.
             
            12. ¿cómo puede comunicarse con nosotros sobre estos términos y condiciones?
            Si tiene preguntas o comentarios sobre estos términos y condiciones, puede contactarnos a privacidad@Dictya.com, que estaremos felices de responderle.
             
            
            
            </p>
            
            
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
