<div class="row">
    <div class="col-lg-6">
        <div class="feature-item">
            <i class="icon-basket text-primary"></i>
            <h3>¿Tienes una tienda?</h3>
            <p class="text-muted">Desarrollamos software a medida para tu e-commerce</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="feature-item">
            <i class="icon-social-google text-primary"></i>
            <h3>Marketing online</h3>
            <p class="text-muted">Te ayudamos a gestionar publicidad en Google ADS y Facebook ADS</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="feature-item">
            <i class="icon-credit-card text-primary"></i>
            <h3>Pagos electrónicos</h3>
            <p class="text-muted">Instalamos las más eficientes pasarelas de pago para tu tranquilidad</p>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="feature-item">
            <i class="icon-lock-open text-primary"></i>
            <h3>Transacciones seguras</h3>
            <p class="text-muted">Monitoreamos y evaluamos riesgos de tus transacciones electrónicas</p>
        </div>
    </div>
</div>
