<div class="slider-light">
    <div class="slick-slider">
        <div>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate" tabindex="-1">
                <div class="slide-img-bg" style="background-image: url('{{ 'moon/anguish.jpg'|media }}');"></div>
                
            </div>
        </div>
        <div>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                <div class="slide-img-bg" style="background-image: url('{{ 'moon/joey_waff.jpg'|media }}');"></div>
            </div>
        </div>
        
        <div>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-sunny-morning" tabindex="-1">
                <div class="slide-img-bg" style="background-image: url('{{ 'moon/lineup.jpg'|media }}');"></div>

            </div>
        </div>
        
    </div>
</div>