description = "carousel de los partners"

[viewBag]
==
<div class="slider-light">
    <div class="slick-slider">
        {% for image in obProperty.images %}
        <div>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center" tabindex="-1">
                <div class="slide-img-bg" style="background-image: url('{{image.path}}');"></div>
                
            </div>
        </div>
        {% endfor %}
        {#
        bg-premium-dark
        bg-sunny-morning
        bg-plum-plate
        #}
    </div>
    

        
    </div>
</div>