<div class="main-card mb-3 card">
    <div class="card-header">

        Orden # {{obOrder.order_number}} 
        
        
    </div>
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
            <tr>
                <th>Producto</th>
               
                <th class="text-center">Precio</th>
            </tr>
            </thead>
            <tbody>
            {% for oPosition in obOrder.order_position %}
            <tr>
                <td>
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left mr-3">
                                <div class="widget-content-left">
                                    <img width="40" class="rounded-circle" src="../assets/images/avatars/4.jpg" alt="">
                                </div>
                            </div>
                            <div class="widget-content-left flex2">
                                <div class="widget-heading">{{oPosition.charge.title}}</div>
                                <div class="widget-subheading opacity-7">{{oPosition.charge.description}}</div>
                            </div>
                        </div>
                    </div>
                </td>
               
                <td class="text-center">
                    <div class="pie-sparkline">
                    {% if oPosition.total_price == 0  %}
                    CORTESÍA
                    {% else %}
                    ${{oPosition.total_price}}
                    
                    {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan="3" class="text-center">
                        <strong>
                    Total: ${{obOrder.total_price}}
                    </strong>
                    </td>
                </tr>
                {% if obOrder.status_id == 1 and obOrder.isAvailableToPay() %}
                {#<tr>
                    <td colspan="3" class="text-center">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stripeFormModal">
                            REALIZAR PAGO
                        </button>
                    </td>
                </tr>#}
                {% elseif ((obOrder.status_id == 1 and obOrder.isAvailableToPay()== false) or obOrder.status_id == 5) %}
                <tr>
                <td colspan="3" class="text-center">
                    <div class="badge badge-warning">Esta orden se encuentra caducada</div>
                    
                </td>
            </tr>
                {% endif %} 
            </tbody>
            
                
            
        </table>
        
    </div>
    {% if obOrder.status_id == 1 and obOrder.isAvailableToPay() %}

    <div class="col-md-12">
        <div class="float-right">
            <div class="dropdown">
                <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="mb-2 mr-2 dropdown-toggle btn btn-primary">REALIZAR PAGO</button>
                <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
                    <ul class="nav flex-column">
                        <li class="nav-item-header nav-item">Métodos</li>
                        {% for method in obOrder.property.payment_methods %}
                        
                            {% if method == "stripe"  or method == 1 %}
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link" data-toggle="modal" data-target="#stripeFormModal">
                                    <span>Tarjeta de crédito/débito</span>
                                </a>
                            </li>
                            {% elseif  method == "zelle" or method == 2 %}
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="nav-link" data-toggle="modal" data-target="#zelleFormModal">
                                    <span>ZELLE</span>
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% endif %} 
    
    
</div>
