{% for oPosition in obOrder.order_position %}
    <li class="list-group-item">
        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
            
                <div class="widget-content-left">
                    <div class="widget-heading">{{oPosition.charge.title}}</div>
                    <div class="widget-subheading">{{oPosition.charge.description}}</div>
                </div>
                <div class="widget-content-right">
                   
                    <div class="widget-numbers text-primary">
                        <span class="mr-2">${{oPosition.charge.price}}</span>

                        
                    </div>
                </div>
                
            </div>
        </div>
    </li>
    {% endfor %}
    <li class="list-group-item">
        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
            
                <div class="widget-content-left">
                    <div class="widget-heading"></div>
                    
                </div>
                <div class="widget-content-right">
                   
                    <div class="widget-numbers text-primary">
                        <span class="mr-2"><strong>Total:</strong>  ${{obOrder.total_price}}</span>

                        
                    </div>
                </div>
                
            </div>
        </div>
    </li>
    