[viewBag]
==
<div class="slider-light">
    <div class="slick-slider">
        {#<div>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate" tabindex="-1">
                <div class="slide-img-bg" style="background-image: url('{{'foto-login-seccion'|media}}');"></div>
                <div class="slider-content">
                    <h3>Envía ordenes de pago fácilmente</h3>
                    <p>
                        Potencia tus ventas y ofrece a tus clientes
                        la máxima seguridad de comprar online 
                    </p>
                </div>
            </div>
        </div>#}
        <div>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                <div class="slide-img-bg" style="background-image: url(https://dictya.com/storage/app/media/login-img.jpg);"></div>
                <div class="slider-content">
                    <h3>¿Tienes un negocio online?</h3>
                    <p>Comunicate con nosotros y permítenos ayudarte con la mejor tecnología
                        <br>0414-591.18.18
                        <br>soporte@dictya.com
                    </p></div>
            </div>
        </div>
        <!--
        <div>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-sunny-morning" tabindex="-1">
                <div class="slide-img-bg" style="background-image: url('../assets/images/originals/citydark.jpg');"></div>
                <div class="slider-content"><h3>Complex, but lightweight</h3>
                    <p>We've included a lot of components that cover almost all use cases for any type of application.</p></div>
            </div>
        </div>
        -->
    </div>
</div>