<div class="modal fade" id="stripeFormModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="payment-form" data-request-validate data-request-flash>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
                <div class="form-row">
                  <div class="form-group col-md-12 col-lg-12">
                      <div id="card-element" style="border: 1px solid #ccc;
                      border-radius: 4px; padding:4px 4px;"> 
                       <!-- a Stripe Element will be inserted here. -->
                      </div>
                  </div>
                  <div class="form-group col-md-12 col-lg-12">
                      <input type="text" name="owner" id="owner" class="form-control" placeholder="Nombre y Apellido del tarjetahabiente"> 
                  </div>
                  {#<div class="form-group col-md-12 col-lg-12">
                      <input type="text" name="country" id="country" class="form-control" placeholder="País"> 
                  </div>
                  <div class="form-group col-md-12 col-lg-6">
                      <input type="text" name="state" id="state" class="form-control" placeholder="Estado"> 
                  </div>
                  <div class="form-group col-md-12 col-lg-6">
                      <input type="text" name="city" id="city" class="form-control" placeholder="Ciudad"> 
                  </div>#}
                  <div class="form-group col-md-12 col-lg-12 text-center">
                     
                          <h4>Monto: <strong>${{obOrder.total_price}}</strong></h4>
                   
                  </div>
                  <!-- Used to display form errors -->
                  <div id="card-errors" role="alert"></div>
                </div>
                <input type="hidden" name="amount" id="amount" value="{{obOrder.total_price}}">
                <input type="hidden" name="description" id="description" value="Orden de compra en {{obProperty.name}}">
                <input type="hidden" name="pk_key" id="pk_key" value="{{stripe_private_key}}">
                <input type="hidden" name="ref" id="ref" value="pago de orden  {{obOrder.id}}">
                    
                <br>
                <p class="text-center">
                  
                  
                </p>
                
                <!--<p class="text-center">
                    <a href="https://stripe.com/" target="_blank"><img class="image-responsive" src="{{ 'powered_by_stripe.png'|media }}"></a>
                </p>-->
              
              
              <script src='https://js.stripe.com/v3/'></script>
        </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input  type="submit" class="btn btn-primary" id="pay-btn" value="¡Pagar!">
            </div>
        </form>
      </div>
    </div>
  </div>