[viewBag]
==
<div class="modal fade" id="zelleFormModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form id="payment-form-zelle" data-request-validate data-request-flash data-request-files>
        <div class="modal-body">
              <div class="form-row">
                <div class="main-card mb-3 card">
                  <div class="card-header"><i class="header-icon lnr-laptop-phone icon-gradient bg-plum-plate"> </i>ZELLE
                     
                  </div>
                  <div class="card-body">
                    <ul>
                    
                      <li>Realiza tu pago zelle a la cuenta siguiente:
                        <strong>{{ obProperty.zelle_manager != '' ? obProperty.zelle_manager : 'Dictya LLC, Cuenta Business' }}, {{ obProperty.zelle_email == false ? 'dictyabofa@gmail.com' : obProperty.zelle_email }} </strong>
                      </li>
                      <li>Escribe el nombre titular de la cuenta en el primer cuadro de abajo</li>
                      <li>Adjunta tu captura o comprobante de pago en el cuadro de abajo</li>
                      <li>Procura que el capture contenga la <strong class="text-danger">
                        referencia de la transacción
                      </strong>
                      que da tu banco.
                    </li>
                      
                      <li>Haz click en el boton <strong>PAGAR</strong></li>
                    </ul>
                    </div>
          
                </div>
              </div>
                <div class="form-row">
                  
                  <div class="form-group col-md-12 col-lg-12">
                      <input type="text" name="reference" id="reference" class="form-control" 
                      placeholder="Nombre del titular de la cuenta Zelle" required> 
                  </div>
                  
                  <div class="form-group col-md-12 col-lg-12">
                    <input type="file" class="dropify" data-max-file-size="3M" name="capture" /> 
                  </div>
                  
     
                </div>
        </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input  type="submit" class="btn btn-primary" id="pay-zelle-btn" value="¡Pagar!">
            </div>
        </form>
      </div>
    </div>
  </div>