description = "dashboard layout"

[Logout]

[SeoCmsPage]
==
<!doctype html>
<html lang="en">

<head>
    <meta name="turbo-visit-control" content="reload" />
    {% component 'SeoCmsPage' %}
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{{ [
            'assets/css/base.min.css',
            'assets/css/custom/custom.css',
            'assets/css/dropify.css',
        ]|theme }}" rel="stylesheet">
        {% styles %}
</head>
    <body>
        <div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
        
        {% page %}
        <div class="app-drawer-wrapper" style="width:350px;">
            <div class="drawer-nav-btn">
                <button type="button" class="hamburger hamburger--elastic is-active">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="drawer-content-wrapper">
                <div class="scrollbar-container">
                    <h3 class="drawer-heading">Orden</h3>
                    <div class="drawer-section p-0">
                        <div class="files-box">
                            <ul class="list-group list-group-flush">
                                    <div id="cart-aside-container">
                                        {% partial 'cart/cart-aside'%}
                                    </div>
                            </ul>
                            <div class="text-center mt-4 d-block">
                                <a href="{{'cart'|page }}" class="border-0 btn-transition btn btn-success">Crear</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        
        </div>
        
        <div class="app-drawer-overlay d-none animated fadeIn"></div><!--DRAWER END-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/metismenu"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="{{ [
            'assets/js/commons.js',
            'assets/js/scripts-init/app.js',
            'assets/js/scripts-init/demo.js',
            'assets/js/scripts-init/scrollbar.js',
            'assets/js/scripts-init/toastr.js',
            'assets/js/scripts-init/form-components/form-wizard.js',
            'assets/js/vendors/scrollbar.js',
            'assets/js/vendors/form-components/clipboard.js',
            'assets/js/vendors/form-components/input-mask.js',
            'assets/js/vendors/form-components/form-wizard.js',
            'assets/js/vendors/carousel-slider.js',
            'assets/js/vendors/dropify.js',
            'assets/js/custom/custom-purchase.js'
        ]|theme }}"></script>

        
        {% scripts %}
        {% framework extras %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    </body>
</html>