description = "Default layout"
==
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.description }}">
    <meta name="turbo-visit-control" content="reload" />
    <title>Dictya | we take care of your E-commerce</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ 'assets/home-assets/vendor/bootstrap/css/bootstrap.min.css' | theme }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ 'assets/home-assets/vendor/fontawesome-free/css/all.min.css' | theme }}" rel="stylesheet">
    <link href="{{ 'assets/home-assets/vendor/simple-line-icons/css/simple-line-icons.css' | theme }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link href="{{ 'assets/home-assets/device-mockups/device-mockups.min.css' | theme }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ 'assets/home-assets/css/new-age.min.css' | theme }}" rel="stylesheet">
    {% styles %}

    <script src="{{ 'assets/home-assets/vendor/jquery/jquery.min.js' | theme }}"></script>
    <script src="{{ 'assets/home-assets/vendor/bootstrap/js/bootstrap.min.js' | theme }}"></script>

</head>

<body id="page-top">
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/603429f6918aa26127418a72/1ev5s7qlh';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
{% partial 'home-temporary/modules/nav' %}
{% page %}
{% partial 'home-temporary/modules/footer' %}

<script src="{{ 'assets/home-assets/vendor/jquery-easing/jquery.easing.min.js' | theme }}"></script>
<script src="{{ 'assets/home-assets/js/new-age.min.js' | theme }}"></script>
<script src="{{ 'assets/home-assets/custom.js' | theme }}"></script>


{% scripts %}
{% framework extras %}
</body>
</html>