description = "login"

[SeoCmsPage]
==
<!doctype html>
<html lang="en">

    <head>
        {#<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="turbo-visit-control" content="reload" />
        #}
        {% if seo_props %}
            {% partial "misc/dynamic-seo" %}
        {% else %}
            {% component 'SeoCmsPage' %}
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <!-- Disable tap highlight on IE -->
        <meta name="msapplication-tap-highlight" content="no">
    
        <link href="{{ [
            'assets/css/base.min.css',
            'assets/css/custom/custom.css',
            'assets/css/dropify.css',
        ]|theme }}" rel="stylesheet">
        {% styles %}
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        
    </head>

    <body>
        <div class="app-container app-theme-white body-tabs-shadow">
            {% page %}
        </div>
        
        <!--CORE-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/metismenu"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
        <script src="{{ 'assets/js/vendors/translator/jqueryTranslator.min.js' | theme }}"></script>

        <script src="{{ [
            'assets/js/dictionary.js',
            'assets/js/scripts-init/app.js',
            'assets/js/scripts-init/demo.js',
            'assets/js/vendors/carousel-slider.js',
            'assets/js/scripts-init/carousel-slider.js',
            'assets/js/scripts-init/sweet-alerts.js',
            'assets/js/custom/login.js',
            'assets/js/vendors/dropify.js',
            'assets/js/commons.js',

        ]|theme }}"></script>
        
        {% scripts %}
        {% framework extras %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        
    
    </body>
</html>