title = "cart"
url = "/cart"
layout = "dashboard"
meta_title = "Carrito"
meta_description = "Crea tu orden y envíala a tus clientes"
is_hidden = 0
role = 0
permission = 0
anonymous_only = 0
logged_only = 1
robot_index = "index"
robot_follow = "follow"

[MakeOrder]

[CartSessionList]
==
<?php
function onStart()
{
    //use Lovata\OrdersShopaholic\Models\Order as orderModel;
    use Lovata\Toolbox\Classes\Helper\UserHelper;

    $user = UserHelper::instance()->getUser();

    if($user && isset($user->properties[0])){
        $property =  $user->properties[0];
        $this['property'] = $property;
    }
    
   
}
function onEnd(){
  
    $value = Session::get('buddies_user_auth');
  
    if($value == null){
      return Redirect::to('login');
    }
  }
?>
==
{% partial 'main-menu-header' %}
<div class="app-main">
    {% partial 'side-bar-menu' %}
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="lnr-map text-info"></i>
                        </div>
                        <div>Carrito
                            <div class="page-title-subheading">Completa la siguiente información y envía tu orden</div>
                        </div>
                    </div>
                    <div class="page-title-actions">
                        
                    </div>    
                </div>
            </div>

            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form id="order-form">
                    <div id="smartwizard">
                        <ul class="forms-wizard">
                            <li>
                                <a href="#step-1">
                                    <em>1</em><span>Cargos</span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2">
                                    <em>2</em>
                                    <span>
                                        Cliente

                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3">
                                    <em>3</em><span>Envío</span>
                                </a>
                            </li>
                        </ul>
                        
                        <div class="form-wizard-content">
                            <div id="step-1">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left mr-3">
                                                            <div class="icon-wrapper border-light rounded m-0">
                                                                <div class="icon-wrapper-bg bg-light"></div>
                                                                <i class="pe-7s-credit icon-gradient bg-happy-itmeo"></i></div>
                                                        </div>
                                                        <div class="widget-content-left">
                                                            <div class="widget-heading">Lista de cargos</div>
                                                            <div class="widget-subheading d-none d-md-block">Añade todos los cargos que necesites enviar a tu cliente</div>
                                                        </div>
                                                        <div class="widget-content-right">
                                                            <button type="button" class="btn btn-primary" id="addChargeButton">
                                                                AÑADIR
                                                              </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <div id="charge-list-step-container">
                                                {% partial 'step/charge-list-step' %}
                                            </div>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <button type="button" class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary next-btn">Siguiente</button>
                                   
                                </div> 
                            </div>
                            <div id="step-2">
                                <div id="accordion" class="accordion-wrapper mb-3">
                                    <div class="card">
                                        <div id="headingOne" class="card-header">
                                            <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block">
                                                <span class="form-heading">Usuario
                                                    <p>Completa la información de cliente</p>
                                                </span>
                                            </button>
                                        </div>
                                            <div class="card-body">
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="position-relative form-group">
                                                            <label for="name">Nombre</label>
                                                            <input name="name" id="firstname"  class="form-control" type="text" >
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="position-relative form-group">
                                                            <label for="lastname">Apellido</label>
                                                            <input name="lastname" id="lastname" type="text" class="form-control" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="position-relative form-group">
                                                            <label for="email">Email</label>
                                                            <input name="email" id="email"  type="text" class="form-control" >
                                                        </div>
                                                    </div>

                                                    
                                                    <div class="col-md-6">
                                                        <div class="position-relative form-group">
                                                            <label for="document">Documento de identidad</label>
                                                            <input name="document" id="document"  type="text" class="form-control" >
                                                        </div>
                                                    </div>
                                                
                                                </div>
                                                
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="position-relative form-group">
                                                            <label for="vigency_value">Valor de Vigencia</label>
                                                            <input name="vigency_value" id="vigency_value" value="1" type="number" class="form-control" >
                                                        </div>
                                                    </div>

                                                    
                                                    <div class="col-md-6">
                                                        <div class="position-relative form-group">
                                                            <label for="vigency_format" class="">Tipo de Vigencia</label>
                                                            <select type="select" id="vigency_format" name="vigency_format"
                                                             class="custom-select">
                                                             <option value="hour">Hora</option>
                                                             <option value="day">Día</option>
                                                             <option value="week">Semana</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                
                                                </div>

                                                <div class="form-row">
                                                    
                                                    {% for payment_method in property.payment_methods %}
                                                    <div class="col-md-12">
                                                        <div class="form-check">
                                                            <input class="form-check-input" name="payment_methods[]" type="checkbox" value="{{payment_method.code}}" checked>
                                                            <label class="form-check-label">
                                                                {{payment_method.name}}
                                                            </label>
                                                          </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <button type="button"  class="btn-shadow btn-wide float-right btn-pill btn-hover-shine btn btn-primary next-btn">Siguiente</button>
                                    <button type="button"  class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondar prev-btn">Anterior</button>
                                </div> 
                            </div>
                            <div id="step-3">
                                <div class="no-results">
                                    <div class="swal2-icon swal2-success swal2-animate-success-icon">
                                        <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
                                        <span class="swal2-success-line-tip"></span>
                                        <span class="swal2-success-line-long"></span>
                                        <div class="swal2-success-ring"></div>
                                        <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                                        <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
                                    </div>
                                    <div class="results-subtitle mt-4">¡Casi estamos listos!</div>
                                    <div class="results-title">¡Pulsa <strong>Generar</strong> para crear la orden y el enlace para compartir con tus clientes!</div>
                                    <div class="mt-3 mb-3"></div>
                                    <div class="text-center">
                                        <button class="btn-shadow btn-wide btn btn-success btn-lg">Generar</button>
                                    </div>
                                </div>
                                <div class="clearfix">
            
                                    <button type="button"  class="btn-shadow float-right btn-wide btn-pill mr-3 btn btn-outline-secondar prev-btn">Anterior</button>
                                </div> 
                            </div>
                            
                        
                        </div>
                      
                         
                    </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="chargeModal" tabindex="-1" role="dialog" aria-labelledby="chargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="chargeModalLabel">Nuevo Cargo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="chargeForm" class="chargeForm" data-request-flash  data-request-validate>
            <div class="modal-body">
            
                <div class="form-group">
                <label for="title" class="col-form-label">Titulo:</label>
                <input type="text" class="form-control" id="title" name="title">
                </div>
                <div class="form-group">
                <label for="description" class="col-form-label">Descripcion:</label>
                <textarea class="form-control" id="description" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="price" class="col-form-label">Monto:</label>
                    <input class="form-control input-mask-trigger"  id="price" name="price" style="text-align: right;"
                     data-inputmask="'alias': 'numeric', 'autoGroup': true, 'digits': 2, 'digitsOptional': false, 'placeholder': '0'"
                                   >
                    {#<input type="text" class="form-control" id="price" name="price">#}
                </div>
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" value="Guardar">
            </div>
        </form>
      </div>
    </div>
</div>