title = "dashboard"
url = "/dash"
layout = "dashboard"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
role = 0
permission = 0
anonymous_only = 0
logged_only = 0

[Cart]
==
<?php
function onStart()
{
    //$this->addJs('assets/js/custom/custom-purchase.js');
}

function onEnd(){
  
    $value = Session::get('buddies_user_auth');
  
    if($value == null){
      return Redirect::to('login');
    }
  }
?>
==
{% partial 'main-menu-header' %}
<div class="app-main">
    {% partial 'side-bar-menu' %}
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-graph icon-gradient bg-ripe-malin"></i>
                        </div>
                        <div>Lista de productos
                        </div>
                    </div>
                     
                </div>
                
            </div>
            <div class="row">
                {% partial 'products/products-cards' %}
            </div>
        </div>
    </div>
</div>