url = "/login"
layout = "login"
title = "login"
is_hidden = 0
meta_title = "Acceso a Dictya.com"
meta_description = "Accede a Dictya y gestiona el envío de tus ordenes y pagos"
seo_keywords = "Dictya, pagos web, stripe, pago en dolares, e-commerce, comercio electronico"
canonical_url = "www.dictya.com"
robot_index = "index"
robot_follow = "follow"
role = 0
permission = 0
anonymous_only = 0
logged_only = 0

[Login]
mode = "ajax"
flash_on = 0
redirect_on = 1
redirect_page = "orders"

[SeoCmsPage]
==
<?php
function onEnd(){
  
  $value = Session::get('buddies_user_auth');
  /*
  if($value != null){
    return Redirect::to('');
  }*/
}
?>
==
<div class="app-container">
    <div class="h-100">
        <div class="h-100 no-gutters row">
            <div class="col-sm-12 col-lg-4">
                {% partial 'login/carousel-login' %}
            </div>
            <div class="h-100 d-flex bg-white col-md-12 col-lg-8">
                <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                    <div class="app-logo" style=" 
                    background-position: center;
                    background-repeat: no-repeat;
                    " ></div>
                    <h4 class="mb-0">
                        <span class="d-block">Bienvenido,</span>
                        <span>Inicia sesión con tu cuenta.</span>
                    </h4>
                    
                    <div class="divider row"></div>
                    <div>
                        <form class="" id="login-form">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="exampleEmail" class="">Email</label>
                                        <input name="email"  
                                    placeholder="Email aquí..." type="email" class="form-control"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="position-relative form-group"><label for="examplePassword" class="">Contraseña</label>
                                        <input name="password" 
                                    placeholder="Contraseña aquí..." type="password" class="form-control"></div>
                                </div>
                            </div>
                            <!-- <div class="position-relative form-check"><input name="check" id="exampleCheck" type="checkbox" class="form-check-input"><label for="exampleCheck" class="form-check-label">Keep me logged in</label></div>-->
                            <div class="divider row"></div>
                            <div class="d-flex align-items-center">
                                <div class="ml-auto">
                                    <!--<a href="javascript:void(0);" class="btn-lg btn btn-link">Recover Password</a>-->
                                    <button class="btn btn-primary btn-lg">Entrar</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="mt-3 text-center">¿Olvidaste tu contraseña? 
                            <a href="{{'restore'|page}}" class="text-primary">pulsa aquí para recuperarla</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>