title = "orders"
url = "/orders"
layout = "dashboard"
meta_title = "Lista de ordenes"
meta_description = "Lista de ordenes generadas por la propiedad"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
role = 0
permission = 0
anonymous_only = 0
logged_only = 1
==
<?php
function onEnd(){
  
    $value = Session::get('buddies_user_auth');
  
    if($value == null){
      return Redirect::to('login');
    }
  }
?>
==
{% partial 'main-menu-header' %}
<div class="app-main">
    {% partial 'side-bar-menu' %}
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-graph icon-gradient bg-ripe-malin"></i>
                        </div>
                        <div>Lista órdenes
                        </div>
                        <!--<div class="page-title-subheading">This dashboard was created as an example of the flexibility that Architect offers.</div>-->
                    </div>
                    
                    
                    <!--
                    <div class="page-title-actions">
                        <button type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark" data-original-title="Example Tooltip">
                            <i class="fa fa-star"></i>
                        </button>
                        <div class="d-inline-block dropdown">
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-business-time fa-w-20"></i>
                                </span>
                                Buttons
                            </button>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-link-icon lnr-inbox"></i>
                                            <span>
                                                Inbox
                                            </span>
                                            <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-link-icon lnr-book"></i>
                                            <span>
                                                Book
                                            </span>
                                            <div class="ml-auto badge badge-pill badge-danger">5</div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-link-icon lnr-picture"></i>
                                            <span>
                                                Picture
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a disabled="" class="nav-link disabled">
                                            <i class="nav-link-icon lnr-file-empty"></i>
                                            <span>
                                                File Disabled
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    -->    
                </div>
                
            </div>
            <div class="row">
                {% partial 'orders/order-list' %}
            </div>
        </div>
    </div>
</div>