title = "order"
url = "/order2/:slug"
layout = "login"
is_hidden = 0
role = 0
permission = 0
anonymous_only = 0
logged_only = 0

[QrCode]
level = "Q"
foreground = "#000000"
background = "#eeeeee"
size = 7
value = "EDPS, France, contactus@edps.fr, www.edps.fr"
==
<?php
function onStart(){

    use Lovata\OrdersShopaholic\Models\Order;
    $this["obOrder"] = $order = Order::where("secret_key", $this->param('slug'))->first();
}
?>
==
<div class="app-container">
    <div class="h-100">
        <div class="h-100 no-gutters row">
            
            <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-6">
                <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                    <div class="app-logo" style=" 
                    background-position: center;
                    background-repeat: no-repeat;
                    "></div>
                    <h4 class="mb-0">
                        <span class="d-block">Bienvenido,</span>
                        <span>Imprime o captura este codigo QR y presentalo en la taquilla del evento Moon Festival</span></h4>
                    <!--<h6 class="mt-3">No account? <a href="javascript:void(0);" class="text-primary">Sign up now</a></h6>-->
                    <div class="divider row"></div>
                    <div>
                        <form id="login-form">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="col-md-6 offset-md-3 col-xs-8 offset-xs-2">
                                     <script src="https://dictya.com/plugins/edps/qrcode/assets/js/qr.min.js"></script>
    
                                    <canvas id="qr-code"></canvas>
                                    
                                    <script>
                                        qr.canvas({
                                            canvas: document.getElementById('qr-code'),
                                            level:  "{{ dataToQrCode.level }}",        
                                            foreground: "{{ dataToQrCode.foreground }}",
                                            background: "{{ dataToQrCode.background }}",
                                            size: "{{ dataToQrCode.size }}",
                                            value: "{{ 'private_orders'|page({ slug: obOrder.secret_key }) }}"
                                      	});
                                    </script>
                                    </div>
                               
                                </div>
                            </div>
                            
                            <!-- <div class="position-relative form-check"><input name="check" id="exampleCheck" type="checkbox" class="form-check-input"><label for="exampleCheck" class="form-check-label">Keep me logged in</label></div>-->
                            <div class="divider row"></div>
                            <div class="row">
                            <div class="col-md-12">
                                <div class="main-card mb-3 card">
                                    <div class="card-header">Orden # {{obOrder.order_number}}
                                        
                                    </div>
                                    <div class="table-responsive">
                                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>Producto</th>
                                                <th class="text-center">Cantidad</th>
                                                <th class="text-center">Precio</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for oPosition in obOrder.order_position %}
                                            <tr>
                                                <td>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-3">
                                                                <div class="widget-content-left">
                                                                    <img width="40" class="rounded-circle" src="../assets/images/avatars/4.jpg" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-left flex2">
                                                                <div class="widget-heading">{{oPosition.offer.name}}</div>
                                                                <div class="widget-subheading opacity-7">{{oPosition.offer.preview_text}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <div class="badge badge-warning">{{oPosition.quantity}}</div>
                                                </td>
                                                <td class="text-center" style="width: 150px;">
                                                    <div class="pie-sparkline">
                                                    {% if oPosition.total_price == 0  %}
                                                    CORTESÍA
                                                    {% else %}
                                                    {{obOrder.currency.symbol}} {{oPosition.total_price}}
                                                    
                                                    {% endif %}
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-6">
                {% partial 'event/moon-carousel' %}
            </div>
        </div>
    </div>
</div>