title = "partners"
url = "/partners/:slug/:secret"
layout = "login"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
role = 0
permission = 0
anonymous_only = 0
logged_only = 0

[form]

[PaymentsHandler]
code = "{{ :secret }}"
type = "slug"
==
<?php
function onStart(){

    use Lovata\OrdersShopaholic\Models\Order;
    use QchSoft\Charges\Models\Property;
    use \HesperiaPlugins\Stripe\Models\Settings;

    $settings = Settings::instance();

    $this["obOrder"] = $order = Order::where("secret_key", $this->param('secret'))->first();
    $this["obProperty"] = $property = Property::where("slug", $this->param('slug'))->first();
    if ($property->stripe_public_key!="" && $property->stripe_private_key!="") {
        $this["stripe_public_key"] = $property->stripe_public_key;
        $this["stripe_private_key"] = $property->stripe_private_key;
    }else{
        $this["stripe_public_key"] = $settings->public_key;
        $this["stripe_private_key"] = $settings->private_key;
    }
    
}

function onEnd(){
  if($this["obProperty"] && $this["obOrder"]){
      $seo_props =  array(
        "titulo" => $this["obProperty"]->name."| Orden de pago",
        "descripcion" => $this["obProperty"]->name." ha envíado una orden de pago a través de Dictya.com",
        "type" => "article",
        "imagen" => $this["obProperty"]->logo->getPath(),
        "url" => "https://dictya.com/partners/".$this["obProperty"]->slug."/".$this["obOrder"]->secret_key,
        "robots" => "index,follow"
    );

      $this["seo_props"] = $seo_props;
  }
}
?>
==
<div class="app-container">
    <div class="h-100">
        <div class="h-100 no-gutters row">
            
            <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-6">
                <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                    <div class="app-logo" style=" 
                    background-position: center;
                    background-repeat: no-repeat;
                    "></div>
                        {% if obOrder.status_id == 1 %}
                        <h6>
                            <span class="d-block">Has recibido una orden de pago de nuestro partner <strong>{{obProperty.name}}</strong></span>
                            <span></span>
                        </h6>
                            
                        {% elseif obOrder.status_id == 3 or obOrder.status_id == 2 %}
                        <div class="mb-3 card text-white card-body bg-success">
                          <h5 class="text-white card-title">Pago Recibido</h5>
                          Hemos recibido tu pago, en breves instantes <strong>{{obProperty.name}}</strong> se estará comunicando con usted para confirmarle la transacción
                        </div>
                           
                        {% endif %}
                        
      
                    <!--<h6 class="mt-3">No account? <a href="javascript:void(0);" class="text-primary">Sign up now</a></h6>-->
                    <div class="divider row"></div>
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                {% partial "partners/order-table" obOrder = obOrder %}
                            </div>
                            <div class="col-md-12">
                              <p><strong>Fecha de creación: </strong>{{obOrder.created_at|date('d/m/Y g:i:s a','America/Caracas')}}</p>
                              <p><strong>Fecha de vencimiento: </strong>{{obOrder.getExpirationDate()|date('d/m//Y g:i:s a','America/Caracas')}}</p>
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-6">
                
                {% partial 'partners/gallery' obProperty = obProperty %}
                
            </div>
        </div>
    </div>
    {% set use_stripe = false %}
    {% for method in obOrder.property.payment_methods %}
  
      {% if method == "stripe" or method == 1 %}
        {% partial 'client-payments/stripe-form' %}
        {% set use_stripe = true %}
      {% elseif  method == "zelle" or method == 2 %}
        {% partial 'client-payments/zelle-form' obProperty = obProperty %}
      {% endif %}
    {% endfor %}
      
    
</div>

{% if  use_stripe %}

<script src='https://js.stripe.com/v3/'></script>
<script>
    $(document).ready(function(){
      
      stripe = Stripe("{{stripe_public_key}}");
      var elements = stripe.elements({"locale": "es"});
      
      stripeFlag = true;

      var style = {
        base: {
          color: '#999',
          lineHeight: '24px',
          fontFamily: '"Poppins", sans-serif',
          fontSmoothing: 'antialiased',
          fontSize: '14px',
          '::placeholder': {
            color: '#999'
          }
        },
        invalid: {
          color: '#fa755a',
          iconColor: '#fa755a'
        }
      };

      card = elements.create('card', {style: style});
     
      card.mount('#card-element');
      var mensaje = "";
      var displayError = document.getElementById('card-errors');
     
      card.addEventListener('change', function(event) {
        
        if (event.error) {
          displayError.textContent = event.error.message;
        }else if(mensaje !==""){
          displayError.textContent = mensaje;
        } else {
          displayError.textContent = '';
          
        }
      });
    
      $("#owner").on("focusout", function (e){
        var displayError = document.getElementById('card-errors');
        mensaje = validarTarjetaHabiente();
        displayError.textContent = mensaje;
      });
    });
    
    function validarTarjetaHabiente(){
      var value = $("#owner").val();
      var mensaje = "";
      var regex = new RegExp("^([^0-9]*)$");
      if(value === ""){
        mensaje = '\nNombre y Apellido son requeridos';
      }else if(value.length < 4 && value.length > 15){
        mensaje = '\nNombre y Apellido deben tener entre 5 y 15 caracteres en total';
      }else if(!regex.test(value)){
        mensaje = '\nCaracteres numéricos no son permitidos';
      }
    
      return mensaje;
    }
    
    function stripeTokenHandler(token) {
      // Insert the token ID into the form so it gets submitted to the server
      var form = document.getElementById('payment-form');
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'stripeToken');
      hiddenInput.setAttribute('value', token.id);
      form.appendChild(hiddenInput);
    }
    
    $.fn.payStripe = function() {
      var dataN = 'error';
     
      var displayError = document.getElementById('card-errors');
      
      
      var dfd = jQuery.Deferred();
      stripe.createToken(card).then((result) => {
      var mensaje = validarTarjetaHabiente();
          if (result.error) {
              
            displayError.textContent = result.error.message;  
            
          }else if(mensaje !== ""){

            displayError.textContent = mensaje;

          }else{
            if (stripeFlag) {
              //console.log("cambio valor");
              stripeFlag = false;
              $("#payment-form, #payment-form-test").find("input[type='submit']").attr("disabled","disabled").text("Espere..").append("<i class='fa fa-spinner fa-spin fa-fw'></i>");
              $(this).request('onPayStripe', {
              data:{
                token: result.token.id,
              },
              beforeSend: data =>{
               // console.log("antes de enviar");
               
              }
              ,
              success: function(data) {
                  dataN = data;
                  dfd.resolve( data );
              },
              error: function(error){
                //console.log("aqui", error);

                  //dataN = data;
                  dfd.reject( error );
              },
              complete: data =>{
               //flag = true;
               console.log("completada");
              }
            });
            }else{
              //console.log("no mando nada");

            }
            
          
          }
        });
      return dfd.promise();
    };
    
    
    </script>
{% endif %}