title = "payments"
url = "/payments"
layout = "dashboard"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
role = 0
permission = 0
anonymous_only = 0
logged_only = 1

[PaymentsList]

[Pagination]
count_per_page = 15
pagination_limit = 10
active_class = "active"
first_button_name = "First"
first_button_limit = 1
first-more_button_name = "..."
first-more_button_limit = 1
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 1
last_button_name = "Last"
last_button_limit = 1
==
<?php
function onEnd(){
  
    $value = Session::get('buddies_user_auth');
  
    if($value == null){
      return Redirect::to('login');
    }
  }
?>
==


{% set iPage = Pagination.getPageFromRequest() %}

{% set obPayments = PaymentsList.getPayments() %}
{% set iCount = obPayments.count() %}
{% set arPaginationList = Pagination.get(iPage, iCount) %}


{% partial 'main-menu-header' %}
<div class="app-main">
    {% partial 'side-bar-menu' %}
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-graph icon-gradient bg-ripe-malin"></i>
                        </div>
                        <div>Lista Reembolsos
                        </div>
                        <!--<div class="page-title-subheading">This dashboard was created as an example of the flexibility that Architect offers.</div>-->
                    </div>
                    
                    
                    <!--
                    <div class="page-title-actions">
                        <button type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-shadow mr-3 btn btn-dark" data-original-title="Example Tooltip">
                            <i class="fa fa-star"></i>
                        </button>
                        <div class="d-inline-block dropdown">
                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn-shadow dropdown-toggle btn btn-info">
                                <span class="btn-icon-wrapper pr-2 opacity-7">
                                    <i class="fa fa-business-time fa-w-20"></i>
                                </span>
                                Buttons
                            </button>
                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-link-icon lnr-inbox"></i>
                                            <span>
                                                Inbox
                                            </span>
                                            <div class="ml-auto badge badge-pill badge-secondary">86</div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-link-icon lnr-book"></i>
                                            <span>
                                                Book
                                            </span>
                                            <div class="ml-auto badge badge-pill badge-danger">5</div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">
                                            <i class="nav-link-icon lnr-picture"></i>
                                            <span>
                                                Picture
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a disabled="" class="nav-link disabled">
                                            <i class="nav-link-icon lnr-file-empty"></i>
                                            <span>
                                                File Disabled
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    -->    
                </div>
                
            </div>
            <div class="row">
                
                {% set complete = 0 %}
                {% for payment in obPayments %}
                    {% if payment.payment_status_id == 2 %}
                    
                    {% set complete = complete+1 %}
                    
                    {% endif %}
                {% endfor %}
                    
                    <div class="col-md-6 col-xl-6">
                        <div class="card mb-3 widget-content bg-night-fade">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Total de reembolsos</div>
                                    <div class="widget-subheading">Numero recibidos hasta el momento</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white"><span>{{obPayments.count}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <div class="card mb-3 widget-content bg-arielle-smile">
                            <div class="widget-content-wrapper text-white">
                                <div class="widget-content-left">
                                    <div class="widget-heading">Total reembolsos disponibles</div>
                                    <div class="widget-subheading">Reembolsos que pueden ser liquidados</div>
                                </div>
                                <div class="widget-content-right">
                                    <div class="widget-numbers text-white"><span>{{complete}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                
                <div class="col-md-12">
                    <div class="main-card mb-3 card">
                        
                        <div class="table-responsive">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                <caption class="mr-2">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            {% if arPaginationList is not empty %}
                                                {% for arPagination in arPaginationList %}
                                                
                                                <li class="page-item {{ arPagination.class }}">
                                                    <a href="{{'payments'|page~'?page='~arPagination.name}}"
                                                     class="page-link ">{{ arPagination.name }}</a>
                                                </li>
                                                    
                                                {% endfor %}
                
                                            {% endif %}
                                
                                        </ul>
                                      </nav>
                                </caption>
                                <thead>
                                <tr>
                                    <th class="text-center">Fecha</th>
                                    
                                    <th class="text-center">Monto</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Método</th>
                                    <th class="text-center">Tipo</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                                </thead>
                                 <tbody>
                                     
                                    {% if obPayments.count > 0 %}
                                    {% set obCollectionPage = obPayments.forPage(iPage,Pagination.getCountPerPage) %}
                
                                    
                                        {% for payment in obCollectionPage %}
                                        <tr class="text-center">
                                            <td>{{payment.created_at|date("d/m/Y")}}</td>
                                            
                                            <td>{{payment.currency_symbol}}{{payment.mount }}</td>
                                         
                                            <td>
                                                <div class="badge {{payment.payment_status_id == 2 ? 'badge-success' : 'badge-warning' }}">
                                                    {{payment.status.name}}
                                                    
                                                </div>
                                                
                                            </td>
                                            <td>{{payment.payment_method.name}}
                                                
                                            </td>
                                            <td>
                                                {{payment.payment_type.name}}
                                            </td>
                                            <td>
                                                {% if payment.payment_type.code == "dictya" %}
                                                    {% if (payment.payment_status_id == 2 or payment.payment_status_id == 3)
                                                        and payment.file.path %}
                                                        <div role="group" class="btn-group-sm btn-group">
                                                            <a class="btn-shadow btn btn-primary" href="{{payment.file.path}}" download>
                                                                <i class="pe-7s-download"> </i>
                                                                COMPROBANTE
                                                            </a>
                                                            
                                                        </div>
                                                    {% else %}
                                                        sin acciones
                                                    {% endif %}

                                                {% else %}
                                                    <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="mb-2 mr-2 dropdown-toggle btn btn-primary">Dropdown Basic</button>
                                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu">
                                                        <ul class="nav flex-column">
                                                            <li class="nav-item-header nav-item">Activity</li>
                                                            <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Chat
                                                                <div class="ml-auto badge badge-pill badge-info">8</div>
                                                            </a></li>
                                                            <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Recover Password</a></li>
                                                            <li class="nav-item-header nav-item">My Account</li>
                                                            <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Settings
                                                                <div class="ml-auto badge badge-success">New</div>
                                                            </a></li>
                                                            <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Messages
                                                                <div class="ml-auto badge badge-warning">512</div>
                                                            </a></li>
                                                            <li class="nav-item"><a href="javascript:void(0);" class="nav-link">Logs</a></li>
                                                            <li class="nav-item-divider nav-item"></li>
                                                            <li class="nav-item-btn nav-item">
                                                                <button class="btn-wide btn-shadow btn btn-danger btn-sm">Cancel</button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                {% endif %}


                                                
                                            </td>
                                        </tr>
                                        {% endfor  %}
                                    {% endif %}
                                    
                                </tbody>
                            </table>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>