title = "order"
url = "/order/:slug"
layout = "dashboard"
meta_title = "Orden de pago"
meta_description = "Orden de pago generada"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
role = 0
permission = 0
anonymous_only = 0
logged_only = 1

[SeoCmsPage]
==
<?php
function onStart(){

    use Lovata\OrdersShopaholic\Models\Order;
    $this["obOrder"] = $order = Order::where("secret_key", $this->param('slug'))->first();
}

function onApprove()
{
    //use Lovata\OrdersShopaholic\Models\Order as orderModel;
    use Lovata\OrdersShopaholic\Classes\Processor\OfferOrderPositionProcessor;

    $order = Order::where("secret_key", post("code"))->first();
    
    if($order->status_id == 1){
        //trace_log("bien, lo cambio");
        foreach ($order->order_position as $order_position) {
            //trace_log($order_position->quantity);
            $order_position->offer->quantity -= $order_position->quantity;
            $order_position->offer->save();
        }
        $order->status_id = 3;
        $order->save();
    }else{
        throw new AjaxException([
            'message' => 'La orden ya ha sido aprobada',
        ]);
    }
    //trace_log($llega);
    //return true;
}

function onEnd(){
  
    $value = Session::get('buddies_user_auth');
  
    if($value == null){
      return Redirect::to('login');
    }
  }
?>
==
{% partial 'main-menu-header' %}
<div class="app-main">
    {% partial 'side-bar-menu' %}
    <div class="app-main__outer">
        <div class="app-main__inner">
            <div class="app-page-title">
                <div class="page-title-wrapper">
                    <div class="page-title-heading">
                        <div class="page-title-icon">
                            <i class="pe-7s-graph icon-gradient bg-ripe-malin"></i>
                        </div>
                        <div>Orden</div>
                        
                    </div>
                    
                </div>
            </div>
            <div id="order-content">
                {% partial 'orders/order-single' %} 
            </div>
               
        </div>
    </div>
</div>