url = "/restauracion/:slug"
layout = "login"
title = "restauración"

[ResetPassword]
slug = "{{ :slug }}"
slug_required = 1
==
<div class="container pt-3">
    <div class="col-md-6 offset-md-3">
        <div class="main-card mb-3 card ">
            <div class="card-body">
                <h5 class="card-title">Restaurar contraseña</h5>
                <form class="" id="reset-form">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label class="">Nueva contraseña</label>
                                <input type="password" name="password" class="form-control" placeholder="Nueva contraseña" required>
                            </div>
                        </div>
                    
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label class="">Repite nueva contraseña</label>
                                <input type="password" name="password_confirmation" class="form-control" placeholder="Repite tu nueva contraseña" required>
                            </div>
                        </div>
                    
                    </div>
                    <div class="form-row d-flex justify-content-center">
                        <button class="mt-2 btn btn-primary">Guardar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    
</div>