url = "/recuperar"
layout = "login"
title = "recuperar"
meta_title = "Recuperar contraseña"
meta_description = "Escribe tu email a continuación"

[RestorePassword]
mode = "ajax"
==
<div class="container pt-3">
    <div class="col-md-6 offset-md-3">
        <div class="main-card mb-3 card ">
            <div class="card-body">
                <h5 class="card-title">Recuperar contraseña</h5>
                <form class="" id="restore-form">
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="position-relative form-group">
                                <label class="">Email</label>
                                <input name="email"  placeholder="Escribe tu correo aquí" type="email" class="form-control">
                            </div>
                        </div>
                    
                    </div>
                    <div class="form-row d-flex justify-content-center">
                        <button class="mt-2 btn btn-primary">Enviar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    
</div>