[viewBag]

[CartSessionList]
==
{% set arChargelist = CartSessionList.getSessionCartList() %}

{% if arChargelist != null %}
    {% for charge in arChargelist %}
    <li class="list-group-item">
        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left mr-3">
                    <div class="widget-numbers text-primary">
                        <span class="mr-2">${{charge.price}}</span>

                        
                    </div>
                </div>
                <div class="widget-content-left">
                    <div class="widget-heading">{{charge.title}}</div>
                    <div class="widget-subheading">{{charge.description}}</div>
                </div>
                <div class="widget-content-right">
                   
                    <button type="button" class="close" data-index="{{loop.index0}}" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
            </div>
        </div>
    </li>
    {% endfor %}
{% else %}

<li class="list-group-item">
        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left">
                    
                    <div class="widget-subheading">
                        Sin cargos añadidos
                    </div>
                </div>
                
                
            </div>
        </div>
    </li>

{% endif %}