[ProductList]
sorting = "new"

[viewBag]
==
{% set obProductList = ProductList.make().sort(ProductList.getSorting()).active().category(1, true) %} 


{% if obProductList.isNotEmpty() %}

    {% for obProduct in  obProductList %}
    <div class="col-sm-12 col-lg-6 col-xl-4">
        <div class="mb-3 profile-responsive card">
            <div class="dropdown-menu-header">
                <div class="dropdown-menu-header-inner bg-dark">
                    <div class="menu-header-image opacity-4" style="background-image: url('{{obProduct.preview_image.thumb(250,250,'crop')}}');"></div>
                    <div class="menu-header-content btn-pane-right">
                        <div class="pt-4 pb-4">
                            <h5 class="menu-header-title">{{obProduct.name}}</h5>
                            <h6 class="menu-header-subtitle">{{obProduct.category.name}}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-flush">
                    <div class="widget-content pt-1 pl-0 pr-0">
                        <div class="text-center">
                            <h5 class="widget-heading opacity-4 mb-0">{{obProduct.preview_text}}</h5>
                            <!--<h6 class="mt-3 mb-3">
                                    <span class="pr-2">
                                    <b class="text-danger">12</b> new leads,
                                    </span>
                                <span><b class="text-success">$56.24</b> in sales</span>
                            </h6>-->
                            
                        </div>
                    </div>
                </li>
                
                <li class="list-group-item list-group-flush">
                    <ul class="list-group list-group-flush">

                        <li class="p-0 list-group-item">
                            <div class="grid-menu grid-menu-2col">
                                <ul class="list-group list-group-flush">
                                    {% for obOffer in obProduct.offer %}
                                        {% if obOffer.quantity > 0 %}
                                        <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left mr-3">
                                                            <img width="42" class="rounded-circle" src="{{obOffer.preview_image.path}}" alt="">
                                                        </div>
                                                        <div class="widget-content-left">
                                                            <div class="widget-heading">{{obOffer.name}}</div>
                                                        </div>
                                                        <div class="widget-content-right">
                                                            <div class="dropdown d-inline-block">
                                                                <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="mb-2 mr-2 dropdown-toggle btn btn-primary">Ver</button>
                                                                <div tabindex="-1" role="menu" aria-hidden="true"  class="dropdown-menu-rounded dropdown-menu-lg dropdown-menu dropdown-menu-right">
                                                                    <div class="dropdown-menu-header">
                                                                        <div class="dropdown-menu-header-inner bg-secondary">
                                                                            <div class="menu-header-image opacity-5" style="background-image: url('{{obOffer.preview_image.path}}');"></div>
                                                                            <div class="menu-header-content"><h5 class="menu-header-title">{{obOffer.name}}</h5>
                                                                                <h6 class="menu-header-subtitle">{{obOffer.preview_text}}</h6></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="m-1">
                                                                        <p>
                                                                            <strong>Disponibles:</strong> {{obOffer.quantity}} <br>
                                                                            <strong>Precio:</strong> {{obOffer.price}}{{obOffer.currency}}
                                                                        </p>
                                                                    </div>
                                                                    <form class="add-cart-form">
                                                                        <div class="form-group">
                                                                            <input name="quantity" placeholder="Cantidad" type="number" class="form-control">
                                                                        </div>
                                                                        
                                                                        <div tabindex="-1" class="dropdown-divider"></div>
                                                                        <input type="hidden" name="offer" value="{{obOffer.id}}">
                                                                        <input type="submit" tabindex="0" class="dropdown-item" value="Añadir">
                                                                    </form>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li> 
                                        {% endif %}
                                    {% endfor %}
                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>  
            </ul>    
        </div>
    </div>
    {% endfor %}

{% endif %}