[OrderPage]
slug = "{{ :slug }}"
slug_required = 1

[viewBag]
==
<?php
function onStart()
{
    //use Lovata\OrdersShopaholic\Models\Order as orderModel;
    use Lovata\Toolbox\Classes\Helper\UserHelper;

    $user = UserHelper::instance()->getUser();
    $property =  $user->properties[0];
    //dump($user->properties);
    $this['property'] = $property;
   
}
?>
==
<div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Link de pago para el cliente</h5>
                        <div class="input-group">
                            <input type="text" class="form-control" id="clipboard-source-2" value="{{ 'partners'|page({ slug:property.slug, secret: obOrder.secret_key }) }}">
                            <div class="input-group-append">
                                <button type="button" data-clipboard-target="#clipboard-source-2" class="btn btn-primary clipboard-trigger">
                                    <i class="fa fa-copy"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                        <h6> <strong>Usuario:</strong> {{obOrder.property.name}} {{obOrder.property.lastname}}</h6>
                        <h6><strong>Documento:</strong> {{obOrder.property.document}}</h6>
                        <br>
                 </div>
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Orden # {{obOrder.order_number}} 
                     <div class="badge {{obOrder.status.id == 3 ? 'badge-success' : 'badge-warning' }} ml-2"> {{obOrder.status.name}}
                         
                     </div>
                     
                     
                </div>
                <div class="table-responsive">
                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Precio</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for oPosition in obOrder.order_position %}
                        <tr>
                            <td>
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        
                                        <div class="widget-content-left flex2">
                                            <div class="widget-heading">{{oPosition.charge.title}}</div>
                                            <div class="widget-subheading opacity-7">{{oPosition.charge.description}}</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="badge badge-warning">{{oPosition.quantity}}</div>
                            </td>
                            <td class="text-center" style="width: 150px;">
                                <div class="pie-sparkline">{{obOrder.currency.symbol}}{{oPosition.total_price}}</div>
                            </td>
                        </tr>
                        {% endfor %}
                        
                        </tbody>
                        
                    </table>
                </div>
                {% if obOrder.status.id == 1%}
                {#
                  <p class="text-center mt-2">
                      <a href="#" class="btn btn-success" id="approve-button" data-code="{{obOrder.secret_key}}">Aprobar</a>
                  </p>
                  #}
                {% endif %}
            </div>
    </div>
    <div class="col-md-12">
        {% if obOrder.payments.count > 0 %}
        <div class="main-card mb-3 card">
            <div class="card-header">
                PAGOS 
            </div>
            <div class="table-responsive">
                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">Fecha</th>
                        
                        <th class="text-center">Monto</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Método</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    </thead>
                     <tbody>
                        
                            {% for payment in obOrder.payments %}
                            <tr class="text-center">
                                <td>{{payment.created_at|date("d/m/Y")}}</td>
                                
                                <td>{{payment.currency_symbol}}{{payment.mount }}</td>
                             
                                <td>
                                    <div class="badge {{payment.payment_status_id == 2 ? 'badge-success' : 'badge-warning' }}">
                                        {{payment.status.name}}
                                        
                                    </div>
                                    
                                </td>
                                <td>{{payment.payment_method.name}}
                                    
                                </td>
                                <td>
                                    {% if (payment.payment_status_id == 2 or payment.payment_status_id == 3) and payment.file.path %}
                                    <div role="group" class="btn-group-sm btn-group">
                                        <a class="btn-shadow btn btn-primary" href="{{payment.file.path}}" download>
                                            <i class="pe-7s-download"> </i>
                                            COMPROBANTE
                                        </a>
                                        
                                    </div>
                                    {% else %}
                                        sin acciones
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor  %}
                    
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
</div>
