[viewBag]

[OrderPage]
slug = "{{ :slug }}"
slug_required = 0

[OrdersHandler]

[Pagination]
count_per_page = 10
pagination_limit = 10
active_class = "active"
first_button_name = "First"
first_button_limit = 1
first-more_button_name = "..."
first-more_button_limit = 1
prev_button_name = "Prev"
prev_button_limit = 1
prev-more_button_name = "..."
prev-more_button_limit = 1
next-more_button_name = "..."
next-more_button_limit = 1
next_button_name = "Next"
next_button_limit = 1
last-more_button_name = "..."
last-more_button_limit = 1
last_button_name = "Last"
last_button_limit = 1
==
<?php
function onStart()
{
    use Lovata\OrdersShopaholic\Models\Order as orderModel;
    use Lovata\Toolbox\Classes\Helper\UserHelper;

    $user = UserHelper::instance()->getUser();
    $arUsersId = array();
    if(!isset($user->properties[0])){
        return;
        
        //dump($user->properties[0]->users);
    }
    foreach ($user->properties[0]->users as $userItem) {
        $id = $userItem->id;
        array_push($arUsersId, $id);
    }
    $this['orders'] = orderModel::orderBy('id', 'desc')->whereIn("manager_id", $arUsersId)->take(10)->get();
}
?>
==
{% component 'OrdersHandler' %}


{% set iPage = Pagination.getPageFromRequest() %}
{% set obOrderItems = OrdersHandler.getOrderList() %}

{% set iCount = obOrderItems.count() %}
{% set arPaginationList = Pagination.get(iPage, iCount) %}

{% set complete = 0 %}

{% for order in obOrderItems %}
    {% if order.status_id == 3%}
    
    {% set complete = complete+1 %}
    
    {% endif %}
{% endfor %}
   
    <div class="col-md-6 col-xl-6">
        <div class="card mb-3 widget-content bg-night-fade">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Total de órdenes</div>
                    <div class="widget-subheading">Numero de órdenes enviadas hasta el momento</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{obOrderItems.count}}</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-6">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Total órdenes completadas</div>
                    <div class="widget-subheading">Órdenes que han sido canjeadas</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>{{complete}}</span></div>
                </div>
            </div>
        </div>
    </div>


<div class="col-md-12">
    <div class="main-card mb-3 card">
        
        <div class="table-responsive">
            
            <table class="align-middle mb-0  table table-borderless table-striped table-hover">
                <caption class="mr-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if arPaginationList is not empty %}
                                {% for arPagination in arPaginationList %}
                                
                                <li class="page-item {{ arPagination.class }}">
                                    <a href="{{'orders'|page~'?page='~arPagination.name}}"
                                     class="page-link ">{{ arPagination.name }}</a>
                                </li>
                                    
                                {% endfor %}

                            {% endif %}
                
                        </ul>
                      </nav>
                </caption>
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">N° de items</th>
                    <th class="text-center">Total</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Fecha de envio</th>
                    <th class="text-center">Acciones</th>
                </tr>
                
                </thead>
                <tbody>
                {% set obCollectionPage = obOrderItems.forPage(iPage,Pagination.getCountPerPage) %}
                
                {% for order in obCollectionPage %}
                
                {% set status = "badge-warning" %}
                {% if order.status.id == 3 %}

                    {% set status = "badge-success" %}

                {% elseif order.status.id == 5 %}

                    {% set status = "badge-alternate" %}
                
                {% elseif order.status.id == 4 %}
                    
                    {% set status = "badge-danger" %}

                {% endif %}
                
                <tr>
                    <td>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left mr-3">
                                    <div class="widget-content-left">
                                    </div>
                                </div>
                                <div class="widget-content-left flex2">
                                    <div class="widget-heading">{{order.order_number}}</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="">{{order.order_position.count}}</div>
                    </td>
                    
                    <td class="text-center">
                    
                        <div class="pie-sparkline">{{order.currency.symbol}}{{order.total_price}}</div>
                        
                    </td>
                    
                    <td class="text-center">
                        <div class="badge {{status}}">{{order.status.name}}</div>
                    </td>
                    
                    <td class="text-center">
                        <div class="">{{order.created_at|date("d/m/Y")}}</div>
                    </td>
                    <td class="text-center">
                        <a href="{{ 'private_orders'|page({ slug: order.secret_key }) }}" class="btn btn-primary btn-sm">VER</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                
            </table>
        </div>
       
    </div>
</div>